<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no">
    <title></title>
    <!--stylesheets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">

    <link rel="icon" type="image/png" href="128.png" sizes="128x128">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button id='collapseTrigger' type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainMenu">
                <span class="sr-only">Toggle navigation</span>
                <span class="menu-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 20" class="icon icon-bars">
                      <rect class="icon-bars__1" x="1" y="1" width="19" height="3"/>
                      <rect class="icon-bars__2" x="1" y="8" width="19" height="3"/>
                      <rect class="icon-bars__3" x="1" y="15" width="19" height="3"/>
                    </svg>
                  </span>
              </button>
              <a class="navbar-brand" href="#">
                <img src="./images/brand-logo.png" alt="Acme free clinic" class="brand-logo">
                <span class="brand-name">ACNE FREE CLINIC</span>
              </a>
              <a href="#" class="visible-xs shop-link-xs">Shop</a>
            </div>
            <div class="collapse navbar-collapse" id="mainMenu">
              <ul class="nav navbar-nav navbar-left">
                <li class="menu-item"><a href="./" class="menu-link">Home</a></li>
                <li class="menu-item "><a href="about.html" class="menu-link">About</a></li>
                <li class="menu-item "><a href="program.html" class="menu-link">Online program</a></li>
                <li class="menu-item "><a href="info.html" class="menu-link">Acne information</a></li>
                <li class="menu-item active"><a href="blog.html" class="menu-link">Blog</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a type="button" name="book appointment" class="btn-filled">Book appointment</a>
                </li>
                <li>
                  <form class="navbar-form search-box" role="search">
                    <div class="input-group searchform">
                      <input type="text" id="s" class="form-control" placeholder="Search">
                      <div class="close">
                          <span class="front"></span>
                          <span class="back"></span>
                      </div>
                      <!-- <span class="input-group-btn">
                        <button type="submit" class="btn btn-search"><span class="glyphicon glyphicon-search"></span></button>
                      </span> -->
                    </div>
                  </form>
                </li>
                <li><a href="#" class="btn-link shop-link">Shop</a></li>
                <li class="visible-xs">
                  <address class="address">
                    500 North 21st street, apt 919, Philadelphia.
                  </address>
                  <a href="tel:+18135109892" class="tel">+18135109892</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="container-fluid content">
      <div class="row hero-header">
        <div class="container">
          <img src="./images/blog-hero.png" alt="" class="hero-bg">
          <h1 class="page-title">About</h1>
          <span class="page-title-sub">Already tried everything to clean your acne?</span>
          <span class="page-title-sub">You already are our favourite kind of client</span>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <div class="col-xs-12 col-md-8 main">
            <article class="post">
              <img src="./images/blog-thumbnail1.png" alt="">
              <h2 class="atricle-header">Our clearing program keeps your acne under control. With right combination of products</h2>
              <span class="meta">| 12.02.2018</span>
              <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
              <a href="#" class="article-link">Read more &rarr;</a>
            </article>
            <article class="post">
              <img src="./images/blog-thumbnail2.png" alt="">
              <h2 class="atricle-header">Our clearing program keeps your acne under control. With right combination of products</h2>
              <span class="meta">| 12.02.2018</span>
              <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
              <a href="#" class="article-link">Read more &rarr;</a>
            </article>
            <article class="post">
              <img src="./images/blog-thumbnail3.png" alt="">
              <h2 class="atricle-header">Our clearing program keeps your acne under control. With right combination of products</h2>
              <span class="meta">| 12.02.2018</span>
              <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.</p>
              <a href="#" class="article-link">Read more &rarr;</a>
            </article>
            <ul class="pagination">
              <li class="active"><span aria-current="page" class="page-numbers current">1</span></li>
              <li><a class="page-numbers" href="#">2</a></li>
              <li><a class="next page-numbers" href="#"><span class="glyphicon glyphicon-menu-right"></span></a></li>
            </ul>
          </div>
          <div id='primary-sidebar' class="hidden-xs hidden-sm col-md-3 col-md-push-1 primary-sidebar widget-area" role='complementary'>
            <aside id="search-2" class="widget widget_search">
              <form role="search" method="get" class="search-form" action="#">
        				<label>
        				 <span class="screen-reader-text">Search:</span>
        				 <input type="search" class="search-field" placeholder="Search…" value="" name="s">
        				</label>
        				<input type="submit" class="search-submit" value="Search">
      			  </form>
            </aside>
            <aside id="categories" class="widget widget_categories">
              <h1 class="widget-title">CATEGORIES</h1>
              <ul>
            	  <li class="cat-item cat-item-1"><a href="#">Acne News <span class="count">(12)</span> </a></li>
            	  <li class="cat-item cat-item-2"><a href="#">Medical Update <span class="count">(09)</span></a></li>
            	  <li class="cat-item cat-item-3"><a href="#">Today News <span class="count">(112)</span></a></li>
            	  <li class="cat-item cat-item-4"><a href="#">Blog Update <span class="count">(04)</span></a></li>
            	</ul>
            </aside>
            <aside id="recent-posts-2" class="widget widget_recent_entries">
              <h1 class="widget-title">Свежие записи</h1>
              <ul>
					      <li>
                  <a href="#">
                    <img src="./images/blog-recent1.png" alt="">
                    <h3 class="post-title">Acne is a chronic hereditary desease</h3>
                    <span class="meta">01.01.2018</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="./images/blog-recent2.png" alt="">
                    <h3 class="post-title">Acne is a chronic hereditary desease</h3>
                    <span class="meta">01.01.2018</span>
                  </a>
                </li>
                <li>
                  <a href="#">
                    <img src="./images/blog-recent3.png" alt="">
                    <h3 class="post-title">Acne is a chronic hereditary desease</h3>
                    <span class="meta">01.01.2018</span>
                  </a>
                </li>
				      </ul>
		        </aside>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <a id="scrollTop" href="#top"><span class="	glyphicon glyphicon-chevron-up"></span></a>
        <div class="col-xs-12 col-md-2 footer-contacts">
          <h3 class="footer-header">CONTACT US</h3>
          <ul class="footer-contacts-list">
            <li class="footer-contacts-item">
              <span>Our office location:</span>
              <address class="address">
                500 North 21st street, apt 919, Philadelphia.
              </address>
            </li>
            <li class="footer-contacts-item">
              <span>Phone</span>
              <span class="tel">+18135109892</span>
            </li>
          </ul>
          <span class="copyright">Copyright &copy; 2018</span>
        </div>
        <div class="col-xs-12 col-xs-push-0 col-md-3 col-md-push-2 sidebar">
          <h3 class="footer-header">Recent posts</h3>
          <ul class="recent-posts-list">
            <li class="recent-posts-item"><a href="#" class="recent-posts-link">Acne Triggers: What Is Causing My Acne?</a></li>
            <li class="recent-posts-item"><a href="#" class="recent-posts-link">Supplements that can Cause Acne</a></li>
            <li class="recent-posts-item"><a href="#" class="recent-posts-link">Selenium for Acne</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-xs-push-0 col-md-4 col-md-push-3 acne-resources">
          <h3 class="footer-header">ACNE RESOURCES</h3>
          <ul class="acne-resources-list">
            <li class="acne-resources-item"><a href="#" class="acne-resources-link">10 Common Acne Myths</a></li>
            <li class="acne-resources-item"><a href="#" class="acne-resources-link">Why You Shouldn`t Take Antibiotics To Treat Acne</a></li>
            <li class="acne-resources-item"><a href="#" class="acne-resources-link">10 Tips For Getting Clear Skin</a></li>
            <li class="acne-resources-item"><a href="#" class="acne-resources-link">Body Acne Treatments</a></li>
            <li class="acne-resources-item"><a href="#" class="acne-resources-link">Does Proactive Treat Acne?</a></li>
            <li class="acne-resources-item"><a href="#" class="acne-resources-link">What Is Acne?</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <!--scripts-->
    <div class="scripts hidden invisible">
      <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
      <script>window.jQuery || document.write("<script src='.\/js\/jquery.min.js'><\/script>");</script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="./js/index.slider.js" charset="utf-8" type="text/javascript"></script>
    </div>
  </body>
</html>
