<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no">
  <title></title>
  <!--stylesheets-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">

  <link rel="icon" type="image/png" href="128.png" sizes="128x128">
</head>

<body>
  <header class="header">
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button id='collapseTrigger' type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainMenu">
                <span class="sr-only">Toggle navigation</span>
                <span class="menu-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 20" class="icon icon-bars">
                      <rect class="icon-bars__1" x="1" y="1" width="19" height="3"/>
                      <rect class="icon-bars__2" x="1" y="8" width="19" height="3"/>
                      <rect class="icon-bars__3" x="1" y="15" width="19" height="3"/>
                    </svg>
                  </span>
              </button>
            <a class="navbar-brand" href="./">
                <img src="./images/brand-logo.png" alt="Acme free clinic" class="brand-logo">
                <span class="brand-name">ACNE FREE CLINIC</span>
              </a>
            <a href="#" class="visible-xs shop-link-xs">Shop</a>
          </div>
          <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="nav navbar-nav navbar-left">
              <li class="menu-item"><a href="./" class="menu-link">Home</a></li>
              <li class="menu-item "><a href="about.html" class="menu-link">About</a></li>
              <li class="menu-item "><a href="program.html" class="menu-link">Online program</a></li>
              <li class="menu-item "><a href="info.html" class="menu-link">Acne information</a></li>
              <li class="menu-item active"><a href="blog.html" class="menu-link">Blog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a type="button" name="book appointment" class="btn-filled">Book appointment</a>
              </li>
              <li>
                <form class="navbar-form search-box" role="search">
                  <div class="input-group searchform">
                    <input type="text" id="s" class="form-control" placeholder="Search">
                    <div class="close">
                      <span class="front"></span>
                      <span class="back"></span>
                    </div>
                    <!-- <span class="input-group-btn">
                        <button type="submit" class="btn btn-search"><span class="glyphicon glyphicon-search"></span></button>
                      </span> -->
                  </div>
                </form>
              </li>
              <li><a href="#" class="btn-link shop-link">Shop</a></li>
              <li class="visible-xs">
                <address class="address">
                    500 North 21st street, apt 919, Philadelphia.
                  </address>
                <a href="tel:+18135109892" class="tel">+18135109892</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <div class="container-fluid content page-contacts">
    <div class="row hero-header">
      <div class="container">
        <img src="./images/contacts.png" alt="" class="hero-bg">
        <h1 class="page-title">Contacts</h1>
        <span class="page-title-sub"></span>
        <span class="page-title-sub"></span>
      </div>
    </div>
    <div class="row contacts">
      <div id="map">
        <script>
             function initMap() {
               var uluru = {lat: 55.74811, lng: 37.7644236};
               var mapCenter = {lat: 55.74811, lng: 37.7664236};
               var map = new google.maps.Map(document.getElementById('map'), {
                 zoom: 18,
                 center: mapCenter
             });
             // var gradazMarker = {
             //     path: 'M256,0C153.755,0,70.573,83.182,70.573,185.426c0,126.888,165.939,313.167,173.004,321.035    c6.636,7.391,18.222,7.378,24.846,0c7.065-7.868,173.004-194.147,173.004-321.035C441.425,83.182,358.244,0,256,0z M256,278.719    c-51.442,0-93.292-41.851-93.292-93.293S204.559,92.134,256,92.134s93.291,41.851,93.291,93.293S307.441,278.719,256,278.719z',
             //     fillColor: '#fabe1a',
             //     fillOpacity: 0.8,
             //     scale: 0.1,
             //     strokeColor: 'gold',
             //     strokeWeight: 1
             // };
             var marker = new google.maps.Marker({
                 position: uluru,
                 // icon: gradazMarker,
                 map: map
             });
             var customStyled = [
             {
               "featureType": "poi",
               "elementType": "labels.text",
               "stylers": [
                 {
                   "visibility": "off"
                 }
               ]
             },
             {
               "featureType": "poi.business",
               "stylers": [
                 {
                   "visibility": "off"
                 }
               ]
             },
             {
               "featureType": "road",
               "elementType": "labels.icon",
               "stylers": [
                 {
                   "visibility": "off"
                 }
               ]
             },
             {
               "featureType": "transit",
               "stylers": [
                 {
                   "visibility": "off"
                 }
               ]
             }
           ];
           map.set('styles',customStyled);
             }
         </script>
         <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNAatENUDbw8EQgvqRGtz2H30HID3-m_4&callback=initMap"></script>
      </div>
      <div class="container">
        <div class="contacts-wrapper overlay">
          <h3 class="contacts-header">CONTACT US</h3>
          <ul class="main-contacts-list">
            <li class="main-contacts-item">
              <address class="address">
                  500 North 21st street, apt 919, Philadelphia.
                </address>
            </li>
            <li class="main-contacts-item">
              <span class="tel">+18135109892</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
      <div class="container">
        <a id="scrollTop" href="#top"><span class="	glyphicon glyphicon-chevron-up"></span></a>
        <div class="col-xs-12 col-md-2 footer-contacts">
          <h3 class="footer-header">CONTACT US</h3>
          <ul class="footer-contacts-list">
            <li class="footer-contacts-item">
              <span>Our office location:</span>
              <address class="address">
                  500 North 21st street, apt 919, Philadelphia.
                </address>
            </li>
            <li class="footer-contacts-item">
              <span>Phone</span>
              <span class="tel">+18135109892</span>
            </li>
          </ul>
          <span class="copyright">Copyright &copy; 2018</span>
        </div>
        <div class="col-xs-12 col-xs-push-0 col-md-3 col-md-push-2 sidebar">
          <h3 class="footer-header">Recent posts</h3>
          <ul class="recent-posts-list">
            <li class="recent-posts-item"><a href="#" class="recent-posts-link">Acne Triggers: What Is Causing My Acne?</a></li>
            <li class="recent-posts-item"><a href="#" class="recent-posts-link">Supplements that can Cause Acne</a></li>
            <li class="recent-posts-item"><a href="#" class="recent-posts-link">Selenium for Acne</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-xs-push-0 col-md-4 col-md-push-3 acne-resources">
          <h3 class="footer-header">ACNE RESOURCES</h3>
          <ul class="acne-resources-list">
            <li class="acne-resources-item"><a href="#" class="acne-resources-link">10 Common Acne Myths</a></li>
            <li class="acne-resources-item"><a href="#" class="acne-resources-link">Why You Shouldn`t Take Antibiotics To Treat Acne</a></li>
            <li class="acne-resources-item"><a href="#" class="acne-resources-link">10 Tips For Getting Clear Skin</a></li>
            <li class="acne-resources-item"><a href="#" class="acne-resources-link">Body Acne Treatments</a></li>
            <li class="acne-resources-item"><a href="#" class="acne-resources-link">Does Proactive Treat Acne?</a></li>
            <li class="acne-resources-item"><a href="#" class="acne-resources-link">What Is Acne?</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <!--scripts-->
    <div class="scripts hidden invisible">
      <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
      <script>
        window.jQuery || document.write("<script src='.\/js\/jquery.min.js'><\/script>");
      </script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="./js/index.slider.js" charset="utf-8" type="text/javascript"></script>
    </div>
  </body>

  </html>
