<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no">
  <title></title>
  <!--stylesheets-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/main.css">

  <link rel="icon" type="image/png" href="128.png" sizes="128x128">
</head>

<body>
  <header class="header">
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button id='collapseTrigger' type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainMenu">
                <span class="sr-only">Toggle navigation</span>
                <span class="menu-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 20" class="icon icon-bars">
                      <rect class="icon-bars__1" x="1" y="1" width="19" height="3"/>
                      <rect class="icon-bars__2" x="1" y="8" width="19" height="3"/>
                      <rect class="icon-bars__3" x="1" y="15" width="19" height="3"/>
                    </svg>
                  </span>
              </button>
            <a class="navbar-brand" href="./">
                <img src="./images/brand-logo.png" alt="Acme free clinic" class="brand-logo">
                <span class="brand-name">ACNE FREE CLINIC</span>
              </a>
            <a href="#" class="visible-xs shop-link-xs">Shop</a>
          </div>
          <div class="collapse navbar-collapse" id="mainMenu">
            <ul class="nav navbar-nav navbar-left">
              <li class="menu-item"><a href="./" class="menu-link">Home</a></li>
              <li class="menu-item "><a href="about.html" class="menu-link">About</a></li>
              <li class="menu-item "><a href="program.html" class="menu-link">Online program</a></li>
              <li class="menu-item  active"><a href="info.html" class="menu-link">Acne information</a></li>
              <li class="menu-item "><a href="blog.html" class="menu-link">Blog</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a type="button" name="book appointment" class="btn-filled">Book appointment</a>
              </li>
              <li>
                <form class="navbar-form search-box" role="search">
                  <div class="input-group searchform">
                    <input type="text" id="s" class="form-control" placeholder="Search">
                    <div class="close">
                      <span class="front"></span>
                      <span class="back"></span>
                    </div>
                    <!-- <span class="input-group-btn">
                        <button type="submit" class="btn btn-search"><span class="glyphicon glyphicon-search"></span></button>
                      </span> -->
                  </div>
                </form>
              </li>
              <li><a href="#" class="btn-link shop-link">Shop</a></li>
              <li class="visible-xs">
                <address class="address">
                    500 North 21st street, apt 919, Philadelphia.
                  </address>
                <a href="tel:+18135109892" class="tel">+18135109892</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <div class="container-fluid content">
    <div class="row hero-header">
      <div class="container">
        <img src="./images/info-hero.png" alt="" class="hero-bg">
        <h1 class="page-title">Acne information</h1>
        <span class="page-title-sub">Already tried everything to clean your acne?</span>
        <span class="page-title-sub">You already are our favourite kind of client</span>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <article class="info">
          <div class="row">
            <div class="col-xs-12 col-xs-push-0 col-md-7 col-md-push-5 right-text">
              <h2 class="section-header">ACNE - WHAT IS IT?<span class=""></span></h2>
              <div class="img-wrapper  left-image">
                <img src="./images/info_1.png" alt="" class="post-thumbnail">
              </div>
              <p class="text">For most people, acne is an inherited condition of the pores. When someone is prone to acne, their pores clog with dead skin cells much faster than normal. Healthy pores shed about one layer of dead skin cells per day inside the pore, but
                acne-prone pores shed up to five layers of dead skin cells per day. The body just can’t keep up with keeping the pore clear. Technically, this is called “retention hyperkeratosis” — dead skin cells shedding more quickly than the pore can
                expel them.</p>
              <p class="text">As the dead skin cells begin to accumulate inside the pore, the cells become sticky and get stuck inside the pore and form a plug. Medically, this is called a “microcomedone” – essentially the precursor to all acne.</p>
              <p class="text">
                Hormonal fluctuations trigger more oil production inside the pore. Normally, this isn’t a problem because the dead skin cells don’t get trapped. But with acne prone-skin, when the dead skin cells shed more quickly and form a blockage, the perfect environment
                for the P. Acnes bacteria is created. The oil is a nutrient for the bacteria, so the bacteria proliferates. So you see, bacteria is not the “cause” of acne, it is the effect of too many dead skin cells. This is an important distinction
                to remember.</p>
              <p class="text">Acne is primarily an inherited dead skin cell problem. Most acne, no matter what form it takes, starts with microcomedones. This means the solution lies in products that penetrate the pore and prevent dead skin cells from building up. That’s
                why your home care routine is so crucial — it’s all about preventing the microcomedones (the beginning of acne) from forming at all. This is the best way to get rid of acne.</p>
              <a href="/" class="btn-filled">Book appointment</a>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="row row2">
            <div class="col-xs-12 col-md-6 left-text">
              <h2 class="section-header">WHAT CAUSES ACNE? <span class=""></span></h2>
              <p class="text">You cannot cure acne completely but you can keep it under control and have clear skin if you know what you are doing. There are a few concepts that you need to know to get your skin clear.</p>
              <p class="text">You need to use the right acne products for your type of acne. A product that is good for inflamed acne (pimples, pustules and cysts) will not be good for noninflamed acne (blackheads and whiteheads)</p>
              <p class="text">You need these products to be strong enough for your type of skin. Otherwise your skin will not change much, or If they are too strong, you will irritate and dehydrate your skin; and you will still break out.</p>
              <p class="text">You need to use these products in the right way. It takes strong products to get acne under control, but if you use too much too soon, you will irritate and dehydrate your skin. You must start slowly with strong products.</p>
              <p class="text">Also you cannot allow your skin to get too “used” to products. If you do, then your skin will stop responding and not get clear.Does this all sound very tricky? Yes, it is!</p>
              <p class="text">These are the main reasons you need an acne expert to guide you in the process of getting your skin clear. We know what it takes to get and keep your skin clear. Get rid of acne once and for all!</p>
              <div class="img-wrapper right-image">
                <img src="./images/info_2.png" alt="" class="post-thumbnail">
              </div>
            </div>
          </div>
          <div class="row row3">
            <div class="col-xs-12 col-md-7 left-text">
              <h2 class="section-header">10 TIPS TO GET CLEAR SKIN<span class=""></span></h2>
              <div class="img-wrapper right-image">
                <img src="./images/info_3.png" alt="" class="post-thumbnail">
              </div>
              <p class="text">There are a few things you can do daily that can either promote acne or set it at bay and it doesn’t mean just using the right products. Everything you do contributes to your health and skin so while you think just keeping your face clean
                will help reduce breakouts, you’re wrong! Here’s a list a the top 10 tips for clear skin.</p>
              <ol class="text-list numbered">
                <li class="text-list-item">
                  <p class="text">Get enough rest and stay calm. Stress stimulates the adrenal gland and in the acne-prone individual, the adrenal gland promotes oil production which leads to break outs.</p>
                </li>
                <li class="text-list-item">
                  <p class="text">Stay away from foods, vitamin supplements and sports drinks/bars that contain iodides. Iodized salt, seafood, fish, seaweed, fast foods and dairy products (cows lick iodized salt licks) and especially kelp tablets (some people take these
                    for thyroid support) are a part of this list. Contrary to popular notion, chocolate and greasy foods (unless they contain salt, which most do) do not aggravate acne.</p>
                </li>
                <li class="text-list-item">
                  <p class="text">Stay away from “high androgen” foods. These are found in peanuts, peanut oil, peanut butter, corn oil, wheat germ, shellfish, organ meats (i.e. liver, sweetbreads and heart). These contain hormones that exacerbate acne.</p>
                </li>
                <li class="text-list-item">
                  <p class="text">Some swimming pool disinfectants contain Iodides and Chlorine, which can remain in the water, causing skin problems for frequent swimmers. Many swimmers find that the combination of hot and humid weather, the physical exercise of swimming
                    and the chlorinated pools, can cause major acne flare-ups.</p>
                </li>
              </ol>
            </div>
            <div class="clearfix"></div>
            <div class="col-xs-12 col-xs-push-0 col-md-7 col-md-push-5 right-text">
              <ol class="text-list numbered" start="5">
                <li class="text-list-item">
                  <p class="text">Don’t pick. Instead of picking, rub ice on pustules and pimples for about five minutes, twice a day. Try to catch them when they are first forming and they most likely will go away. You can use Benzoyl Peroxide for this, but the surrounding
                    tissue may get very dry.</p>
                </li>
                <li class="text-list-item">
                  <p class="text">Use fragrance-free detergents such as Cheer Free, All Free & Clear, Tide Free or Arm & Hammer Free.</p>
                </li>
                <li class="text-list-item">
                  <p class="text">Do not use fabric softeners and/or fabric softener sheets in the dryer, especially on pillowcases as they cause a waxy residue that can clog pores on acne-prone individuals. If you are worried about static cling, then use some anti-static
                    cling balls that you can purchase from Bed Bath and Beyond for $5.</p>
                </li>
                <li class="text-list-item">
                  <p class="text">Avoid low-estrogen birth control pills, Norplant, Provera, and Depo-Provera. Also progesterone hormone replacement Premarin can be problematic. If you have polycystic ovaries, they will cause hormonal changes and breakout. Also, the
                    taking of birth control pills may delay the onset of acne and once off them, you may experience the acne you would’ve had before taking them.</p>
                </li>
                <li class="text-list-item">
                  <p class="text">Do not use cosmetics OR hair products that contain pore-clogging ingredients. See our article on Pore Clogging Ingredients for a list of ingredients to avoid. Retin A has the pore-clogging ingredient, isopropyl myristate as its first
                    ingredient.</p>
                </li>
                <li class="text-list-item">
                  <p class="text">Don’t lay out in the sun to help get rid of your acne. You can give yourself skin cancer – there’s a much safer way to peel the skin than a sunburn.</p>
                </li>
              </ol>
              <p class="text">These tips alone will not get your skin clear however. They just support your acne-clearing program which is truly the key to clear skin. Let the acne experts here at Face Reality help you to get the clear skin you’ve been dreaming of.</p>
              <div class="img-wrapper left-image">
                <img src="./images/info_4.png" alt="" class="post-thumbnail">
              </div>
            </div>
          </div>
          <div class="row row4">
            <div class="col-xs-12 col-xs-push-0 col-md-7 col-md-push-5 right-text">
              <h2 class="section-header">PORE-CLOGGING INGRIDIENTS<span class=""></span></h2>
              <div class="img-wrapper  left-image">
                <img src="./images/info_5.png" alt="" class="post-thumbnail">
              </div>
              <p class="text">Do not ever put anything on your skin or your hair without checking the ingredients first, even if it says “Won’t Clog Pores” or “Non-Comedogenic” on the bottle. No government agency oversees this, so skincare companies can claim their products
                promote clear skin and have pore cloggers in their formulas. Below is a list of ingredients to avoid in all of your products; skin care, acne care, makeup, clothing and hair. Take a look at your current set of products from your shampoo
                to your laundry detergent and see if they contain any cloggers. If they do, it’s time to look for something acne safe. All of Face Reality’s products are free of pore clogging ingredients so you never need to worry about if it’s OK for
                your skin.</p>
              <h3 class="section-header-sub">Be Aware</h3>
              <p class="bold">Natural oils can be some of the worst offenders, like cocoa butter and coconut oil which are found in many “organic” skin care lines. Other oils such as jojoba, olive, and lanolin are mildly comedogenic and can be a problem if formulated
                with other comedogenic ingredients. Some prescription products like the cream form of Retin A have pore cloggers. Many over-the-counter acne medications also have pore clogging ingredients. “Oil-free” products can be comedogenic.</p>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="row row5 hidden-xs hidden-sm">
            <div class=" col-md-12 full-text ">
              <h2 class="section-header">Pore-cloggers<span class=""></span></h2>
              <div class="row">
                <div class="col-md-3">
                  <ul class="text-list">
                    <li class="text-list-item">
                      <p class="text">Acetylated Lanolin</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Acetylated Lanolin Alcohol</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Algae Extract</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Algin</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Butyl Stearat</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Carrageenan</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Cetyl Acetate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Cetearyl Alcohol + Ceteareth 20</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Chondrus Crispus (aka Irish Moss)</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Chlorella</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Coal Tar</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Cocoa Butter</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Coconut Alcanes</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Coconut Butter</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Coconut Oil</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Colloidal Sulfur</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Cotton Awws Oil</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Cotton Seed Oil</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">D & C Red #17</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">D & C Red #21</p>
                    </li>
                  </ul>
                </div>
                <div class="col-md-3 paddingless">
                  <ul class="text-list">
                    <li class="text-list-item">
                      <p class="text">D & C Red #3</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">D & C Red #30</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">D & C Red #36</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Decyl Oleate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Dioctyl Succinate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Disodium Monooleamido PEG-2 Sulfosuccinate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Etoxinated Lanolin</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Ethylhexil Palmitate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Glyceryl Stearate SE</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Glyceryl-3 Disostearate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Hexadecyl Alcohol</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Hydragenated Vegetable Oil</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Isocetyl Alcohol</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Isocetyl Stearate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Isodecyl Oleate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Isopropil Isostearate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Isopropil Linolate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Isopropil Myristate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Isopropil Palmitate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Isostearyl Isostearate</p>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <ul class="text-list">
                    <li class="text-list-item">
                      <p class="text">Isostearyl Neopentanolate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Kelp</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Laminaria Digitata Extract</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Laminaria SaccharinaExtract (Laminaria Saccharine)</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Laureth-23</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Laureth-4</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Lauric Acid</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Mink Oil</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Myristic Acid</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Myristil Lactate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Myristil Myristate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Octyl Palmitate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Octyl Stearate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Oleth-3</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">PG Monostearate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">PPG 2 Myristile Propionate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Plankton</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Polyglyceryl-3 Diisostearate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Pottasium Chloride</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Propylen Glycol Monostearate</p>
                    </li>
                  </ul>
                </div>
                <div class="col-md-2">
                  <ul class="text-list">
                    <li class="text-list-item">
                      <p class="text">Red Algae</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Seaweed</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Shark Liver Oil (Squalene)</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Shea Butter</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Sodium Laureth Sulfate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Sodium Lauril Sulfate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Solulan 15</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Sorbitan Oleate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Soybean Oil</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Spirulina</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Steareth 10</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Stearic Acid Tea</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Stearyl Heptanoate</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Sulfated Castor Oil</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Sulfated Jojoba Oil</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Wheat Germ Glyceride</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Wheat Germ Oil</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">Xylene</p>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-md-7 left-text">
              <h2 class="section-header">ANTIBIOTICS FOR ACNE. WHY NOT?<span class=""></span></h2>
              <div class="img-wrapper right-image">
                <img src="./images/info_6.png" alt="" class="post-thumbnail">
              </div>
              <p class="text">Most of my acne clients have seen dermatologists and most dermatologists prescribed antibiotics as the first course of action. Some of them took antibiotics for years ! My question to them was, if it was going to work to control your acne,
                don’t you think it would’ve worked by now? I understand the desperation of wanting clear skin and the dearth of information about getting clear skin, so I hope that this article will help those of you currently on antibiotics to consider
                other options.</p>
              <p class="text">Antibiotics do not get your acne under control in the long term. Acne is not a bacteria problem – it is an inherited tendency of too many dead skin cells within the pores. Antibiotics do NOTHING to address this underlying cause. Even if
                you had an antibiotic that killed 100% of the bacteria, you would still have an dead skin cells that cause acne.</p>
              <p class="text">Let's explore why it is not a good idea to take them.</p>
              <ol class="text-list">
                <li class="text-list-item">
                  <p class="text">MRSA – if you haven’t heard of the superbug MRSA, you need to know that this is a very dangerous type of staph infection.It's resistant to most antibiotics. Doctors run out of options for treating it and the result is death. Experts
                    believe that MRSA evolved because of the overuse of antibiotics; and dermatologists treating acne primarily with antibiotics is a main contributor.</p>
                </li>
                <li class="text-list-item">
                  <p class="text">Now acne bacteria is becoming drug-resistant. Resistant acne bacteria won’t kill you, but when your skin is used to antibiotic it's hard to keep clear skin.</p>
                </li>
                <li class="text-list-item">
                  <p class="text"> People who use antibiotics are more than twice as likely to catch colds according to a study in the September 2005 Archives of Dermatology. The common cold is a virus – not directly affected by antibiotics; but antibiotics not only attack
                    the harmful bacteria, but also the beneficial bacteria that are part of the body’s defense system. This results in increased frequency of viral infections.</p>
                </li>
                <li class="text-list-item">
                  <p class="text">According to a study published by the Journal of the American Medical Association, heavy use of antibiotics may increase a woman’s risk of developing breast cancer. The study looked at 10,000 women over eight years and found that those
                    that took the highest amounts of antibiotics the longest, faced twice the risk of developing breast cancer than those that didn’t.</p>
                </li>
                <li class="text-list-item">
                  <p class="text">The results of a study published in The Lancet asserted that several prescription antibiotic regimens for facial acne vulgaris were not better than over-the-counter benzoyl peroxide.</p>
                </li>
                <li class="text-list-item">
                  <p class="text">Toxic side effects such as recurring nausea and heartburn.</p>
                </li>
                <li class="text-list-item">
                  <p class="text">Interference with the useful bacteria in the digestive system.</p>
                </li>
                <li class="text-list-item">
                  <p class="text">Frequent vaginal yeast infections for women.</p>
                </li>
                <li class="text-list-item">
                  <p class="text">Possible permanent staining of the teeth.</p>
                </li>
              </ol>
              <p class="text">The best way to treat acne is with an at-home regimen that includes the topical use of an alpha or beta hydroxy acid that is strong enough to exfoliate but not so strong as to irritate or burn the skin, and an antibacterial product that
                delivers oxygen into the pores.</p>
              <p class="text">All of these products must be used correctly; and the best and fastest way to get clear is to get coached by an acne expert. Products alone will not clear your acne – you need an expert coach to get you there.</p>
            </div>
          </div>
          <div class="row row6">
            <h2 class="section-header">10 ACNE MYTHS<span class=""></span></h2>
            <div class="accordion-wrapper col-xs-12 col-md-9">
              <div class="accordion-item">
                <input name="acc" id="acc1" type="radio" class="accordion-switcher" checked>
                <label for="acc1" class="accordion-label">
                      <h3 class="accordion-item-header"><span>1 MYTH.</span>Washing Your Face Often Prevents Breakouts</h3>
                    </label>
                <div class="accordion-item-description">
                  <p class="text"><span class="bold">Fact:</span>Washing your face several times a day will not do anything to keep you from breaking out. In most cases, it will only serve to irritate and dehydrate your skin. You need products that penetrate inside the
                    pore to prevent acne from forming in the first place.</p>
                </div>
                <span class="caret"></span>
              </div>
              <div class="accordion-item">
                <input name="acc" id="acc2" type="radio" class="accordion-switcher">
                <label for="acc2" class="accordion-label">
                      <h3 class="accordion-item-header"><span>2 MYTH.</span>Acne is caused by poor hygiene and/or acne is caused by dirt</h3>
                    </label>
                <div class="accordion-item-description">
                  <p class="text"><span class="bold">Fact:</span>Washing your face several times a day will not do anything to keep you from breaking out. In most cases, it will only serve to irritate and dehydrate your skin. You need products that penetrate inside the
                    pore to prevent acne from forming in the first place.</p>
                </div>
                <span class="caret"></span>
              </div>
              <div class="accordion-item">
                <input name="acc" id="acc3" type="radio" class="accordion-switcher">
                <label for="acc3" class="accordion-label">
                      <h3 class="accordion-item-header"><span>3 MYTH.</span>Acne is caused by candy and french fries</h3></label>
                <div class="accordion-item-description">
                  <p class="text"><span class="bold">Fact:</span>Washing your face several times a day will not do anything to keep you from breaking out. In most cases, it will only serve to irritate and dehydrate your skin. You need products that penetrate inside the
                    pore to prevent acne from forming in the first place.</p>
                </div>
                <span class="caret"></span>
              </div>
              <div class="accordion-item">
                <input name="acc" id="acc4" type="radio" class="accordion-switcher">
                <label for="acc4" class="accordion-label">
                      <h3 class="accordion-item-header"><span>4 MYTH.</span>Acne is just a cosmetic disease</h3></label>
                <div class="accordion-item-description">
                  <p class="text"><span class="bold">Fact:</span>Washing your face several times a day will not do anything to keep you from breaking out. In most cases, it will only serve to irritate and dehydrate your skin. You need products that penetrate inside the
                    pore to prevent acne from forming in the first place.</p>
                </div>
                <span class="caret"></span>
              </div>
              <div class="accordion-item">
                <input name="acc" id="acc5" type="radio" class="accordion-switcher">
                <label for="acc5" class="accordion-label">
                      <h3 class="accordion-item-header"><span>5 MYTH.</span>You just have to let acne run its course</h3></label>
                <div class="accordion-item-description">
                  <p class="text"><span class="bold">Fact:</span>Washing your face several times a day will not do anything to keep you from breaking out. In most cases, it will only serve to irritate and dehydrate your skin. You need products that penetrate inside the
                    pore to prevent acne from forming in the first place.</p>
                </div>
                <span class="caret"></span>
              </div>
              <div class="accordion-item">
                <input name="acc" id="acc6" type="radio" class="accordion-switcher">
                <label for="acc6" class="accordion-label">
                      <h3 class="accordion-item-header"><span>6 MYTH.</span> You should spot treat pimples with benzoyl peroxide</h3></label>
                <div class="accordion-item-description">
                  <p class="text"><span class="bold">Fact:</span>Washing your face several times a day will not do anything to keep you from breaking out. In most cases, it will only serve to irritate and dehydrate your skin. You need products that penetrate inside the
                    pore to prevent acne from forming in the first place.</p>
                </div>
                <span class="caret"></span>
              </div>
              <div class="accordion-item">
                <input name="acc" id="acc7" type="radio" class="accordion-switcher">
                <label for="acc7" class="accordion-label">
                      <h3 class="accordion-item-header"><span>7 MYTH.</span> Acne can be cured</h3></label>
                <div class="accordion-item-description">
                  <p class="text"><span class="bold">Fact:</span>Washing your face several times a day will not do anything to keep you from breaking out. In most cases, it will only serve to irritate and dehydrate your skin. You need products that penetrate inside the
                    pore to prevent acne from forming in the first place.</p>
                </div>
                <span class="caret"></span>
              </div>
              <div class="accordion-item">
                <input name="acc" id="acc8" type="radio" class="accordion-switcher">
                <label for="acc8" class="accordion-label">
                      <h3 class="accordion-item-header"><span>8 MYTH.</span>Toothpaste can cure acne</h3></label>
                <div class="accordion-item-description">
                  <p class="text"><span class="bold">Fact:</span>Washing your face several times a day will not do anything to keep you from breaking out. In most cases, it will only serve to irritate and dehydrate your skin. You need products that penetrate inside the
                    pore to prevent acne from forming in the first place.</p>
                </div>
                <span class="caret"></span>
              </div>
              <div class="accordion-item">
                <input name="acc" id="acc9" type="radio" class="accordion-switcher">
                <label for="acc9" class="accordion-label">
                      <h3 class="accordion-item-header"><span>9 MYTH.</span>Moisturizer will make you break out</h3></label>
                <div class="accordion-item-description">
                  <p class="text"><span class="bold">Fact:</span>Washing your face several times a day will not do anything to keep you from breaking out. In most cases, it will only serve to irritate and dehydrate your skin. You need products that penetrate inside the
                    pore to prevent acne from forming in the first place.</p>
                </div>
                <span class="caret"></span>
              </div>
              <div class="accordion-item">
                <input name="acc" id="acc10" type="radio" class="accordion-switcher">
                <label for="acc10" class="accordion-label">
                      <h3 class="accordion-item-header"><span>10 MYTH.</span>Products need to tingle or sting in order to know they are working</h3></label>
                <div class="accordion-item-description">
                  <p class="text"><span class="bold">Fact:</span>Washing your face several times a day will not do anything to keep you from breaking out. In most cases, it will only serve to irritate and dehydrate your skin. You need products that penetrate inside the
                    pore to prevent acne from forming in the first place.</p>
                </div>
                <span class="caret"></span>
              </div>
            </div>
          </div>
      </div>
      </article>
    </div>
  </div>
  </div>
  <footer class="footer">
    <div class="container">
      <a id="scrollTop" href="#top"><span class="	glyphicon glyphicon-chevron-up"></span></a>
      <div class="col-xs-12 col-md-2 footer-contacts">
        <h3 class="footer-header">CONTACT US</h3>
        <ul class="footer-contacts-list">
          <li class="footer-contacts-item">
            <span>Our office location:</span>
            <address class="address">
                500 North 21st street, apt 919, Philadelphia.
              </address>
          </li>
          <li class="footer-contacts-item">
            <span>Phone</span>
            <span class="tel">+18135109892</span>
          </li>
        </ul>
        <span class="copyright">Copyright &copy; 2018</span>
      </div>
      <div class="col-xs-12 col-xs-push-0 col-md-3 col-md-push-2 sidebar">
        <h3 class="footer-header">Recent posts</h3>
        <ul class="recent-posts-list">
          <li class="recent-posts-item"><a href="#" class="recent-posts-link">Acne Triggers: What Is Causing My Acne?</a></li>
          <li class="recent-posts-item"><a href="#" class="recent-posts-link">Supplements that can Cause Acne</a></li>
          <li class="recent-posts-item"><a href="#" class="recent-posts-link">Selenium for Acne</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-xs-push-0 col-md-4 col-md-push-3 acne-resources">
        <h3 class="footer-header">ACNE RESOURCES</h3>
        <ul class="acne-resources-list">
          <li class="acne-resources-item"><a href="#" class="acne-resources-link">10 Common Acne Myths</a></li>
          <li class="acne-resources-item"><a href="#" class="acne-resources-link">Why You Shouldn`t Take Antibiotics To Treat Acne</a></li>
          <li class="acne-resources-item"><a href="#" class="acne-resources-link">10 Tips For Getting Clear Skin</a></li>
          <li class="acne-resources-item"><a href="#" class="acne-resources-link">Body Acne Treatments</a></li>
          <li class="acne-resources-item"><a href="#" class="acne-resources-link">Does Proactive Treat Acne?</a></li>
          <li class="acne-resources-item"><a href="#" class="acne-resources-link">What Is Acne?</a></li>
        </ul>
      </div>
    </div>
  </footer>
  <!--scripts-->
  <div class="scripts hidden invisible">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script>
      window.jQuery || document.write("<script src='.\/js\/jquery.min.js'><\/script>");
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="./js/index.slider.js" charset="utf-8" type="text/javascript"></script>
  </div>
</body>

</html>
