<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,user-scalable=no">
    <title></title>
    <!--stylesheets-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">

    <link rel="icon" type="image/png" href="128.png" sizes="128x128">
  </head>
  <body>
    <header class="header">
      <div class="container">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button id='collapseTrigger' type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainMenu">
                <span class="sr-only">Toggle navigation</span>
                <span class="menu-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 20" class="icon icon-bars">
                      <rect class="icon-bars__1" x="1" y="1" width="19" height="3"/>
                      <rect class="icon-bars__2" x="1" y="8" width="19" height="3"/>
                      <rect class="icon-bars__3" x="1" y="15" width="19" height="3"/>
                    </svg>
                  </span>
              </button>
              <a class="navbar-brand" href="/">
                <img src="./images/brand-logo.png" alt="Acme free clinic" class="brand-logo">
                <span class="brand-name">ACNE FREE CLINIC</span>
              </a>
              <a href="#" class="visible-xs shop-link-xs">Shop</a>
            </div>
            <div class="collapse navbar-collapse" id="mainMenu">
              <ul class="nav navbar-nav navbar-left">
                <li class="menu-item"><a href="./" class="menu-link">Home</a></li>
                <li class="menu-item "><a href="about.html" class="menu-link">About</a></li>
                <li class="menu-item "><a href="program.html" class="menu-link">Online program</a></li>
                <li class="menu-item "><a href="info.html" class="menu-link">Acne information</a></li>
                <li class="menu-item active"><a href="blog.html" class="menu-link">Blog</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <a type="button" name="book appointment" class="btn-filled">Book appointment</a>
                </li>
                <li>
                  <form class="navbar-form search-box" role="search">
                    <div class="input-group searchform">
                      <input type="text" id="s" class="form-control" placeholder="Search">
                      <div class="close">
                          <span class="front"></span>
                          <span class="back"></span>
                      </div>
                      <!-- <span class="input-group-btn">
                        <button type="submit" class="btn btn-search"><span class="glyphicon glyphicon-search"></span></button>
                      </span> -->
                    </div>
                  </form>
                </li>
                <li><a href="#" class="btn-link shop-link">Shop</a></li>
                <li class="visible-xs">
                  <address class="address">
                    500 North 21st street, apt 919, Philadelphia.
                  </address>
                  <a href="tel:+18135109892" class="tel">+18135109892</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="container-fluid content">
      <div class="row hero-header">
        <div class="container">
          <img src="./images/single-blog-hero.png" alt="" class="hero-bg">
          <h1 class="page-title">Typography</h1>
          <span class="page-title-sub">Already tried everything to clean your acne?</span>
          <span class="page-title-sub">You already are our favourite kind of client</span>
        </div>
      </div>
      <div class="row">
        <div class="container">
          <article class="post blog-post">
            <div class="row">
              <h2 class="section-header">Name of the header <span class="">in two rows</span></h2>
              <div class="img-wrapper right-image">
                <img src="./images/about-1.png" alt="" class="post-thumbnail">
              </div>
              <div class="col-xs-12 col-md-6 left-text-blog">
                <p class="text">You’ve been promised so many times that an acne system or product was going to be your key to clear skin. You tried it and it didn’t work. Been there, done that.</p>
                <p class="text">The products you’ve tried in the past made your skin so irritated and/or sensitive that you just couldn’t take it any longer. And besides, you probably were still breaking out. Dry peeling skin AND acne? No bueno… Also been there, done that.</p>
                <p class="bold">Eureka! You found something that actually works… but only for a little while. Then the heartbreak of acne comes right back after having had that glimmer of hope. Yup, been there too.</p>
                <p class="text">You tried prescription drugs like antibiotics or even Accutane (or it’s equivalents), maybe got clear for a while and then started breaking out again. Did the antibiotics with no success, was too scared to try Accutane… You have REALLY good reasons to be skeptical of any clear-skin promises.</p>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-xs-push-0 col-md-6 col-md-push-6 right-text-blog">
                <div class="img-wrapper  left-image">
                  <img src="./images/blog-thumbnail1-small.png" alt="" class="post-thumbnail">
                </div>
                <h2 class="section-header">Name of the header <span class=""></span></h2>
                  <p class="text">Our mission is:</p>
                  <ul class="text-list">
                    <li class="text-list-item">
                      <p class="text">To help as many people as possible, who are struggling from acne.</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">To improve the quality of treatment and products for those suffering from acne.</p>
                    </li>
                    <li class="text-list-item">
                      <p class="text">To improve quality of your life by getting and keeping you clear. We will continue to research new products and modalities to remain at the top of our field. Our vision is to have the medical community recognize and adapt this safe, effective and inexpensive way to treat acne, thereby, improving the lives of millions of people.</p>
                    </li>
                  </ul>
              </div>
              <div class="clearfix"></div>
            </div>
          </article>
          <blockquote>
            <span class="italic">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</span>
          </blockquote>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <a id="scrollTop" href="#top"><span class="	glyphicon glyphicon-chevron-up"></span></a>
        <div class="col-xs-12 col-md-2 footer-contacts">
          <h3 class="footer-header">CONTACT US</h3>
          <ul class="footer-contacts-list">
            <li class="footer-contacts-item">
              <span>Our office location:</span>
              <address class="address">
                500 North 21st street, apt 919, Philadelphia.
              </address>
            </li>
            <li class="footer-contacts-item">
              <span>Phone</span>
              <span class="tel">+18135109892</span>
            </li>
          </ul>
          <span class="copyright">Copyright &copy; 2018</span>
        </div>
        <div class="col-xs-12 col-xs-push-0 col-md-3 col-md-push-2 sidebar">
          <h3 class="footer-header">Recent posts</h3>
          <ul class="recent-posts-list">
            <li class="recent-posts-item"><a href="#" class="recent-posts-link">Acne Triggers: What Is Causing My Acne?</a></li>
            <li class="recent-posts-item"><a href="#" class="recent-posts-link">Supplements that can Cause Acne</a></li>
            <li class="recent-posts-item"><a href="#" class="recent-posts-link">Selenium for Acne</a></li>
          </ul>
        </div>
        <div class="col-xs-12 col-xs-push-0 col-md-4 col-md-push-3 acne-resources">
          <h3 class="footer-header">ACNE RESOURCES</h3>
          <ul class="acne-resources-list">
            <li class="acne-resources-item"><a href="#" class="acne-resources-link">10 Common Acne Myths</a></li>
            <li class="acne-resources-item"><a href="#" class="acne-resources-link">Why You Shouldn`t Take Antibiotics To Treat Acne</a></li>
            <li class="acne-resources-item"><a href="#" class="acne-resources-link">10 Tips For Getting Clear Skin</a></li>
            <li class="acne-resources-item"><a href="#" class="acne-resources-link">Body Acne Treatments</a></li>
            <li class="acne-resources-item"><a href="#" class="acne-resources-link">Does Proactive Treat Acne?</a></li>
            <li class="acne-resources-item"><a href="#" class="acne-resources-link">What Is Acne?</a></li>
          </ul>
        </div>
      </div>
    </footer>
    <!--scripts-->
    <div class="scripts hidden invisible">
      <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
      <script>window.jQuery || document.write("<script src='.\/js\/jquery.min.js'><\/script>");</script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="./js/index.slider.js" charset="utf-8" type="text/javascript"></script>
    </div>
  </body>
</html>
