// header
.header{
  .container{
    .navbar{
      .navbar-header{
        .navbar-toggle{}
        .navbar-brand{
          .brand-logo{}
          .brand-name{}
        }
      }
      .navbar-collapse{
        .navbar-left{
          .menu-item{
            .menu-link{}
            &.active{
              .menu-link{}
            }
          }
        }
        .navbar-right{
          .btn-filled{}
          .navbar-form{
            .input-group{
              .form-control{}
              .input-group-btn{
                .btn-search{}
              }
            }
          }
          .btn-link{}
        }
      }
    }
  }
}
// index-program
.row.index-program{
  .container{
    .section-header{}
    div{
      .section-description{}
      .subheader{}
      .program-thumbnail{}
      &.program-bg{
        background: linear-gradient(
      rgba(0, 158, 224, 0.5),
      rgba(0, 158, 224, 0.5)
    ), url(../images/program-bg.png);
        background-size: 220%;
        background-position: right;
        background-repeat: no-repeat;
      }
    }
  }
}
// index-products
.row.index-products{
  .container{
    .section-header{

    }
    .products-wrapper{
      .product-card{
        .product-thumbnail{}
        .overlay{
          .btn-filled{}
        }
        .product-header{

        }
        .product-description{}
        .price{
          .sale-price{}
        }
      }
    }
    .btn-filled{

    }
  }
}
// index-review
.row.index-review{
  .container{
    .section-header{}
    div{
      .review-item{
        .avatar{}
        .rate{
          .glyphicon-star{}
          .glyphicon-star-empty{}
        }
        .username{}
        .date{}
        .comment{}
      }
      .btn-filled{

      }
    }
  }
}
// footer
.footer{
  .container{
    .footer-contacts{
      .footer-header{}
      .footer-contacts-list{
        .footer-contacts-item{
          span{}
          .address{}
        }
      }
      >span.copyright{}
    }
    .sidebar{
      .footer-header{
        .recent-posts-list{
          .recent-posts-item{
            .recent-posts-link{}
          }
        }
      }
    }
    .acne-resouces{
      .footer-header{}
      .acne-resources-list{
        .acne-resources-item{
          .acne-resources-link{}
        }
      }
    }
  }
}
// page about
.row.hero-header{

  .container{

    .hero-bg{

    }
    .page-title{

    }
    .page-title-sub{

    }
  }
}
.row.main-content{

  .container{

    .section-header{}
    .section-header-sub{

    }
    .img-wrapper{
      &.left-image{

      }
      &.right-image{

      }
      .page-thumbnail{
      }
    }
  }
}
.row.mission{

  .section-header{}
  .text-list{
    .text-list-item{
      &:before{}
    }
  }
}
.row.win-story{

  .container{

    .img-wrapper{
      &.right-image{

      }
    }
  }
}
//  END page about
