.row.index-slider{
  .container{
    #indexSlider{
      .carousel-inner{
        .item{
          .slide-item-image{
            position: relative;
            float: right;
          }
          .container{
            .carousel-caption{
              position: absolute;
              left: 0;
              bottom: 100px;
              top:auto;
              text-shadow: none;
              .slide-header{}
              .slide-header-sub{
                display: block;
                max-width: 70%;
              }
              .slide-description{
                max-width: 70%;
              }
              .btn-white{
                display: block;
                width: 300px;
                border-radius: 1.2rem;
                font-family: "ProximaNova-Regular", Georgia, sans-serif;
                font-size: 0.8889rem;
                line-height: 1.666rem;
                span{
                  font-family: sans;
                  font-size: 1rem;
                  line-height: 1rem;
                }
              }
              .slide-count{
                position:absolute;
                right:-25%;
                bottom:-100px;
                width:25%;
                height:15%;
                padding-top: 20px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                span{

                }
              }
            }
          }
        }
      }
      .carousel-control{
        position: absolute;
        left:auto;
        top:auto;
        width:10%;
        &.left{
          right:12%;
          bottom:-1%;
        }
        &.right{
          right:-1%;
          bottom:-1%;
        }
      }
    }
  }
}
@media screen and (max-width:1200px){
.row.index-slider{
  .container{
    #indexSlider{
      z-index: -1;
      margin-right: -15px;
      .carousel-inner{
        .item{
          overflow-x:hidden;
          .slide-item-image{
            height:600px;
            max-width:200%;
            margin-right: -60%;
          }
          .container{
            position: relative;
            .carousel-caption{
              position: absolute;
              left: 0;
              bottom: auto;
              top:200px;
              text-shadow: none;
              width: 100%;
              .slide-header{
                max-width: 100%;
                font-size: 22px;
              }
              .slide-header-sub{
                display: none;
              }
              .slide-description{
                max-width: 100%;
                font-size: 16px;
              }
              .btn-white{
                display: block;
                width: 300px;
                max-width: 100%;
                border-radius: 1.2rem;
              }
              .slide-count{
                display: none;
                span{

                }
              }
            }
          }
        }
      }
      .carousel-control{
        display: none;

      }
    }
  }
}
}
