// index-about
.row.index-about{
  margin: 100px 0;
  .container{
    div{
      .section-header{
        margin-bottom: 2rem;
      }
      .img-wrapper{
        position: absolute;
        top:30px;
        right:-60%;
        width:300px;
        height:300px;
        overflow: hidden;
        .index-about--thumbnail{
          width:200%;
          height: auto;
          margin-left: -30%;
          margin-top: -20%;
        }
      }
      .section-description{}
      .btn-filled{
        display: block;
        padding: 1rem 2rem;
        margin:2rem 0;
        border:0;
        border-radius: 1.5rem;
        width:350px;
      }
      &:after{
        display: block;
        content: '';
        width: 100%;
        height:50%;
        position: absolute;
        right:-140%;
        bottom: 5%;
        z-index: -1;
      }
    }
  }
}
@media screen and (max-width:1200px) {
  .row.index-about{
    margin: 100px 0;
    .container{
      div{
        .section-header{
          margin-bottom: 2rem;
        }
        .img-wrapper{
          position: relative;
          top:0;
          right:0;
          width:100%;
          height:100%;
          overflow: hidden;
          margin-bottom: 100px;
          &:after{

          }
          .index-about--thumbnail{
            width:200%;
            height: auto;
            margin-left: -30%;
            margin-top: -20%;
          }
        }
        .section-description{}
        .btn-filled{
          display: block;
          padding: 1rem 2rem;
          margin:2rem 0;
          border:0;
          border-radius: 1.5rem;
          width:350px;
          max-width:50%;
        }
        &:after{
          display: block;
          content: '';
          width: 100%;
          height:350px;
          position: absolute;
          right:-30%;
          bottom: auto;
          top:15%;
          z-index: -1;
        }
      }
    }
  }
}
