html{
  font-family: "ProximaNova-Regular", Georgia, sans-serif;
  font-size: 18px;
  line-height: 21px;
}
body{
  font-family: "ProximaNova-Regular", Georgia, sans-serif;
  font-size: 18px;
  line-height: 21px;
}
p.text{
  font-family: "ProximaNova-Regular", Georgia, sans-serif;
  font-size: 1rem;
  line-height: 1.333rem;
}
p.bold{
  font-family: "ProximaNova-Semibold", Georgia, sans-serif;
  font-size: 1rem;
  line-height: 1.333rem;
}
// header
.header{
  font-size: 0.8889rem;
  .container{
    .navbar{
      .navbar-header{
        .navbar-toggle{}
        .navbar-brand{
          .brand-logo{}
          .brand-name{
            font-family: "ProximaNova-Regular", Georgia, sans-serif;
            font-size: 0.8889rem;
            line-height: 1.333rem;
            text-transform: uppercase;
          }
        }
      }
      .navbar-collapse{
        .navbar-left{
          .menu-item{
            .menu-link{
              font-family: "ProximaNova-Regular", Georgia, sans-serif;
              font-size: 0.8889rem;
              line-height: 1.333rem;
            }
            &.active{
              .menu-link{
                text-decoration: underline;
                text-underline-position: under;
              }
            }
          }
        }
        .navbar-right{
          .btn-filled{

          }
          .navbar-form{
            .input-group{
              .form-control{}
              .input-group-btn{
                .btn-search{}
              }
            }
          }
          .btn-link{}
        }
      }
    }
  }
}
// index-slider
.row.index-slider{
  .container{
    #indexSlider{
      .carousel-indicators{}
      .carousel-inner{
        .item{
          .slide-item-image{
          }
          .container{
            .carousel-caption{
              .slide-header{
                text-transform: uppercase;
                text-align: left;
                font-size: 48px;
                font-size: 2.685rem;
              }
              .slide-header-sub{
                text-transform: uppercase;
                text-align: left;
                // font-size: 32px;
                font-size: 1.666rem;
              }
              .slide-description{
                font-family: 'ProximaNova-Semibold';
                font-size: 20px;
                line-height:27px;
                text-align: left;
              }
              .btn-white{
                font-size: 0.8889rem;
                line-height: 1.333rem;
              }
              .slide-count{
                font-size: 1rem;
                line-height: 28px;
                span{
                  font-size: 30px;
                  line-height: 28px;
                  padding-right: 5px;
                }
              }
            }
          }
        }
      }
      .carousel-control{
        position: absolute;
        left:auto;
        top:auto;
        font-size: 2rem;
        & span{
          font-family: sans-serif;
        }
        &.left{
        }
        &.right{
        }
      }
    }
  }
}
// index-about
.row.index-about{
  .container{
    div{
      .section-header{
        font-family: 'ProximaNova-Semibold';
        font-size: 38px;
        line-height: 21px;
      }
      .img-wrapper{
        .index-about--thumbnail{

        }
      }
      .section-description{
        font-family: 'ProximaNova-Light';
        font-size: 1rem;
        line-height: 1.666rem;
      }
      .btn-filled{
        text-align: center;
        font-family: "ProximaNova-Regular", Georgia, sans-serif;
        font-size: 0.8889rem;
        line-height: 1.333rem;
      }
      :after{
      }

    }
  }
}
// index-program
.row.index-program{
  .container{
    .section-header{
      font-family: "ProximaNova-Semibold", Georgia, sans-serif;
      font-size: 2.17rem;
      line-height: 1.333rem;
    }
    div{
      .section-description{
        font-family: "ProximaNova-Regular", Georgia, sans-serif;
        font-size: 0.8889rem;
        line-height: 1.333rem;
      }
      .subheader{
        font-family: "ProximaNova-Semibold", Georgia, sans-serif;
        font-size: 1.333rem;
        line-height: 1.333rem;
        text-transform: uppercase;
      }
      .program-thumbnail{}
      .btn-filled{
        text-align: center;
        font-family: "ProximaNova-Regular", Georgia, sans-serif;
        font-size: 0.8889rem;
        line-height: 1.333rem;
      }
    }
  }
}
// index-products
.row.index-products{
  .container{
    .section-header{
      font-family: "ProximaNova-Semibold", Georgia, sans-serif;
      font-size: 2.17rem;
      line-height: 1.333rem;
    }
    .products-wrapper{
      .product-card{
        .product-thumbnail{}
        .overlay{
          .btn-filled{
            text-align: center;
            font-family: "ProximaNova-Regular", Georgia, sans-serif;
            font-size: 0.8889rem;
            line-height: 1.333rem;
            text-align: center;
            &:hover{
              text-decoration: none;
            }
          }
        }
        .product-header{
          text-align: center;
          font-family: "ProximaNova-Regular", Georgia, sans-serif;
          font-size: 1rem;
          line-height: 1.333rem;
          text-align: left;
        }
        .product-description{
          text-align: center;
          font-family: "ProximaNova-Light", Georgia, sans-serif;
          font-size: 0.7778rem;
          line-height: 1rem;
          text-align: left;
        }
        .price{
          text-align: center;
          font-family: "ProximaNova-Regular", Georgia, sans-serif;
          font-size: 0.8889rem;
          line-height: 1.333rem;
          text-align: left;
          .sale-price{
            text-align: center;
            font-family: "ProximaNova-Regular", Georgia, sans-serif;
            font-size: 1.122rem;
            line-height: 1.333rem;
            text-align: left;
          }
        }
      }
    }
    .btn-filled{
      text-align: center;
      font-family: "ProximaNova-Regular", Georgia, sans-serif;
      font-size: 0.8889rem;
      line-height: 1.333rem;
      text-align: center;
    }
  }
}
// index-review
.row.index-review{
  .container{
    .section-header{
      font-family: "ProximaNova-Semibold", Georgia, sans-serif;
      font-size: 2.17rem;
      line-height: 1.333rem;
    }
    div{
      .review-item{
        .avatar{}
        .rate{
          .glyphicon-star{}
          .glyphicon-star-empty{}
        }
        .username{}
        .date{
          font-family: "ProximaNova-Regular", Georgia, sans-serif;
          font-size: 0.8889rem;
          line-height: 1.333rem;
          text-align: left;
        }
        .comment{
          font-family: "ProximaNova-Regular", Georgia, sans-serif;
          font-size: 0.8889rem;
          line-height: 1.450rem;
          text-align: left;
        }
      }
      .btn-filled{
        font-family: "ProximaNova-Regular", Georgia, sans-serif;
        font-size: 0.8889rem;
        line-height: 1.333rem;
        text-align: center;
      }
    }
  }
}
// footer
.footer{
  font-family: "ProximaNova-Regular", Georgia, sans-serif;
  font-size: 0.8889rem;
  line-height: 1.666rem;
  .container{
    .footer-contacts{
      .footer-header{}
      .footer-contacts-list{
        .footer-contacts-item{
          span{
            font-family: "ProximaNova-Regular", Georgia, sans-serif;
            font-size: 0.8889rem;
            line-height: 1.666rem;
          }
          .address{
            font-family: "ProximaNova-Regular", Georgia, sans-serif;
            font-size: 0.8889rem;
            line-height: 1.666rem;
          }
        }
      }
      >span.copyright{
        font-family: "ProximaNova-Regular", Georgia, sans-serif;
        font-size: 0.8889rem;
        line-height: 1.666rem;
      }
    }
    .sidebar{
      .footer-header{
      }
      .recent-posts-list{
        .recent-posts-item{
          .recent-posts-link{
            font-family: "ProximaNova-Regular", Georgia, sans-serif;
            font-size: 0.8889rem;
            line-height: 1.666rem;
          }
        }
      }
    }
    .acne-resouces{
      .footer-header{}
      .acne-resources-list{
        .acne-resources-item{
          .acne-resources-link{}
        }
      }
    }
  }
}

.footer-header{
  text-transform: uppercase;
  font-family: "ProximaNova-Semibold", Georgia, sans-serif;
  font-size: 1.122rem;
  line-height: 1.333rem;
}
// page about
.row.hero-header{
  .container{
    .hero-bg{    }
    .page-title{
      font-family: "ProximaNova-Semibold", Georgia, sans-serif;
      font-size: 2.17rem;
      line-height: 1.333rem;
    }
    .page-title-sub{
      font-family: "ProximaNova-Semibold", Georgia, sans-serif;
      font-size: 1.17rem;
      line-height: 1.333rem;
    }
  }
}
.row.main-content{
  .container{
    .section-header{
      font-family: "ProximaNova-Semibold", Georgia, sans-serif;
      font-size: 2.17rem;
      line-height: 1.333rem;
    }
    .img-wrapper{
      &.left-image{

      }
      &.right-image{

      }
      .page-thumbnail{
      }
    }
  }
}
.row.mission{
  .section-header{
    font-family: "ProximaNova-Semibold", Georgia, sans-serif;
    font-size: 2.17rem;
    line-height: 1.333rem;
  }
  .text-list{
    list-style-type: none;
    .text-list-item{
      text-indent: -1.2rem;
      &:before{
        content:'-';
        display: inline-block;
        float: left;
        margin-right: 1rem;

      }
    }
  }
}
.row.win-story{
  .container{
    .section-header{
      font-family: "ProximaNova-Semibold", Georgia, sans-serif;
      font-size: 2.17rem;
      line-height: 1.333rem;
    }
    .img-wrapper{
      &.right-image{}
    }
  }
}
@media screen and (max-width:1200px) {
  .row.hero-header{
    .container{
      .hero-bg{
      }
      .page-title{
        font-family: "ProximaNova-Semibold", Georgia, sans-serif;
        font-size: 1.222rem;
        line-height: 1.333rem;
        text-transform: uppercase;
      }
      .page-title-sub{
        font-family: "ProximaNova-Semibold", Georgia, sans-serif;
        font-size: 0.8889rem;
        line-height: 1.333rem;
      }
    }
  }
  .row.main-content{
    .container{
      .section-header{
        font-family: "ProximaNova-Semibold", Georgia, sans-serif;
        font-size: 1.222rem;
        line-height: 1.333rem;
      }
      .section-header-sub{
      }
      .img-wrapper{

        &.left-image{
          &:after{
          }
        }
        &.right-image{
          &:after{
          }
        }
        .page-thumbnail{
        }
      }
    }
  }
  .row.mission{
    .section-header{
      font-family: "ProximaNova-Semibold", Georgia, sans-serif;
      font-size: 1.222rem;
      line-height: 1.333rem;
    }
    .text-list{
      .text-list-item{
        &:before{}
      }
    }
  }
  .row.win-story{
    .container{
      .section-header{
        font-family: "ProximaNova-Semibold", Georgia, sans-serif;
        font-size: 1.222rem;
        line-height: 1.333rem;
      }
      .img-wrapper{
        &:after{}
        &.right-image{
          &:after{
          }
        }
      }
    }
  }
}
//  END page about
// page blog (category)
.row.hero-header{
  .container{
    .hero-bg{}
    .page-title{}
    .page-title-sub{}
  }
}
.row{
  .container{
    .main{
      article.post{
        .article-header{
          font-family: "ProximaNova-Regular", Georgia, sans-serif;
          font-size: 1rem;
          line-height: 1.666rem;
          .meta{
            font-family: "ProximaNova-Regular", Georgia, sans-serif;
            font-size: 1rem;
            line-height: 1.666rem;
          }
        }
        p.excerpt{
          font-family: "ProximaNova-Regular", Georgia, sans-serif;
          font-size: 0.7778rem;
          line-height: 1.666rem;
        }
        .article-link{
          font-family: "ProximaNova-Regular", Georgia, sans-serif;
          font-size: 1rem;
          line-height: 1.666rem;
          span{
            font-family: sans-serif;
          }
        }
      }
    }
    .primary-sidebar{
      aside#search-2{
        form.search-form{
          label{
            .screen-reader-text{}
            input.search-field{}
          }
          input.search-submit{}
        }
      }
      aside#categories{
        .widget-title{
          font-family: "ProximaNova-Regular", Georgia, sans-serif;
          font-size: 1.333rem;
          line-height: 1.666rem;
        }
        .cat-list{
          font-family: "ProximaNova-Light", Georgia, sans-serif;
          font-size: 0.889rem;
          line-height: 1.333rem;
          list-style-type: none;
          .cat-item{
            .count{}
          }
        }
      }
      aside#recent-posts-2{
        .widget-title{
          font-family: "ProximaNova-Regular", Georgia, sans-serif;
          font-size: 1.333rem;
          line-height: 1.666rem;
        }
        ul{
          li{
            a{
              img{}
              .post-title{
                font-family: "ProximaNova-Light", Georgia, sans-serif;
                font-size: 0.889rem;
                line-height: 1.333rem;
                list-style-type: none;
              }
              .meta{
                font-family: "ProximaNova-Light", Georgia, sans-serif;
                font-size: 0.889rem;
                line-height: 1.333rem;
                list-style-type: none;
              }
              &:hover{
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }
}
// END page blog (category)

// single-blog
.row{
  position: relative;
  margin-bottom: 30px;
  .container{
    article.blog-post{
      .row{
        .section-header{
          font-family: "ProximaNova-Semibold", Georgia, sans-serif;
          font-size: 2.17rem;
          line-height: 1.333rem;
          span{

          }
        }
        .img-wrapper{
          &.left-image{
          }
          &.right-image{
          }
          .page-thumbnail{
          }
        }
        div{
          p.text{}
          p.bold{}
        }
        .right-text-blog{
          .section-header{
          }
          .text-list{
            list-style-type: none;
            .text-list-item{
              &:before{
                content:'';
                display: block;
                float: left;
                width:1rem;
                margin-top: 0.7rem;
                margin-right: 1rem;
                margin-left: -2rem;
                border-bottom: 2px solid #88d1f1;
              }
            }
          }
        }
      }
    }
    blockquote{
      text-align: center;
      &:before{
        content:'“';
        display: inline;
        font-family: "ProximaNova-Light", Georgia, sans-serif;
        font-style: italic;
        font-size: 4rem;
        line-height: 1.558rem;
        transform: translateY(0.2rem);
        float: left;
        margin-right: 2rem;
      }
      &:after{
        // content:',,';
        content:'”';
        display: inline-block;
        font-family: "ProximaNova-Light", Georgia, sans-serif;
        font-size: 4rem;
        line-height: 0rem;
        font-style: italic;
        transform: translateY(2.333rem);
        margin-left: 3rem;
      }
      span.italic{
        font-family: "ProximaNova-Regular", Georgia, sans-serif;
        font-size: 1rem;
        line-height: 1.666rem;
      }
    }
  }
}
@media screen and (max-width:1024px) {
  .row{
    .container{
      article.blog-post{
        .row{
          .section-header{
            font-family: "ProximaNova-Semibold", Georgia, sans-serif;
            font-size: 1.222rem;
            line-height: 1.333rem;
          }
          .img-wrapper{
            &.left-image{
              .post-thumbnail{
              }
            }
            &.right-image{
              .post-thumbnail{
              }
            }
          }
          div{
            p.text{}
            p.bold{}
          }
          .right-text-blog{
            .section-header{
              font-family: "ProximaNova-Semibold", Georgia, sans-serif;
              font-size: 1.222rem;
              line-height: 1.333rem;
            }
            .text-list{}
          }
        }
      }
      blockquote{
        font-style: italic;
        span.italic{
          font-style: italic;

        }
      }
    }
  }
}
// END page single-blog
