@font-face {
  font-family: "ProximaNova-Black";
  src: url("/fonts/ProximaNova-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-BlackIt";
  src: url("/fonts/ProximaNova-BlackIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Bold";
  src: url("/fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-BoldIt";
  src: url("/fonts/ProximaNova-BoldIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Extrabold";
  src: url("/fonts/ProximaNova-Extrabold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-ExtraboldIt";
  src: url("/fonts/ProximaNova-ExtraboldIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Light";
  src: url("/fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-LightIt";
  src: url("/fonts/ProximaNova-LightIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Regular";
  src: url("/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-RegularIt";
  src: url("/fonts/ProximaNova-RegularIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Semibold";
  src: url("/fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-SemiboldIt";
  src: url("/fonts/ProximaNova-SemiboldIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-Thin";
  src: url("/fonts/ProximaNova-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "ProximaNova-ThinIt";
  src: url("/fonts/ProximaNova-ThinIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

html {
  font-family: "ProximaNova-Regular", Georgia, sans-serif;
  font-size: 18px;
  line-height: 21px; }

p.text {
  font-family: "ProximaNova-Regular", Georgia, sans-serif;
  font-size: 1rem;
  line-height: 1.333rem; }

p.bold {
  font-family: "ProximaNova-Semibold", Georgia, sans-serif;
  font-size: 1rem;
  line-height: 1.333rem; }

.header {
  font-size: 0.8889rem; }
  .header .container .navbar .navbar-header .navbar-brand .brand-name {
    font-family: "ProximaNova-Regular", Georgia, sans-serif;
    font-size: 0.8889rem;
    line-height: 1.333rem;
    text-transform: uppercase; }
  .header .container .navbar .navbar-collapse .navbar-left .menu-item .menu-link {
    font-family: "ProximaNova-Regular", Georgia, sans-serif;
    font-size: 0.8889rem;
    line-height: 1.333rem; }
  .header .container .navbar .navbar-collapse .navbar-left .menu-item.active .menu-link {
    text-decoration: underline;
    text-underline-position: under; }

.row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption .slide-header {
  text-transform: uppercase;
  text-align: left;
  font-size: 48px;
  font-size: 2.685rem; }

.row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption .slide-header-sub {
  text-transform: uppercase;
  text-align: left;
  font-size: 1.666rem; }

.row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption .slide-description {
  font-family: 'ProximaNova-Semibold';
  font-size: 20px;
  line-height: 27px;
  text-align: left; }

.row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption .btn-white {
  font-size: 0.8889rem;
  line-height: 1.333rem; }

.row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption .slide-count {
  font-size: 1rem;
  line-height: 28px; }
  .row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption .slide-count span {
    font-size: 30px;
    line-height: 28px;
    padding-right: 5px; }

.row.index-slider .container #indexSlider .carousel-control {
  position: absolute;
  left: auto;
  top: auto;
  font-size: 2rem; }

.row.index-about .container div .section-header {
  font-family: 'ProximaNova-Semibold';
  font-size: 38px;
  line-height: 21px; }

.row.index-about .container div .section-description {
  font-family: 'ProximaNova-Light';
  font-size: 1rem;
  line-height: 1.666rem; }

.row.index-about .container div .btn-filled {
  text-align: center;
  font-family: "ProximaNova-Regular", Georgia, sans-serif;
  font-size: 0.8889rem;
  line-height: 1.333rem; }

.row.index-program .container .section-header {
  font-family: "ProximaNova-Semibold", Georgia, sans-serif;
  font-size: 2.17rem;
  line-height: 1.333rem; }

.row.index-program .container div .section-description {
  font-family: "ProximaNova-Regular", Georgia, sans-serif;
  font-size: 0.8889rem;
  line-height: 1.333rem; }

.row.index-program .container div .subheader {
  font-family: "ProximaNova-Semibold", Georgia, sans-serif;
  font-size: 1.333rem;
  line-height: 1.333rem;
  text-transform: uppercase; }

.row.index-program .container div .btn-filled {
  text-align: center;
  font-family: "ProximaNova-Regular", Georgia, sans-serif;
  font-size: 0.8889rem;
  line-height: 1.333rem; }

.row.index-products .container .section-header {
  font-family: "ProximaNova-Semibold", Georgia, sans-serif;
  font-size: 2.17rem;
  line-height: 1.333rem; }

.row.index-products .container .products-wrapper .product-card .overlay .btn-filled {
  text-align: center;
  font-family: "ProximaNova-Regular", Georgia, sans-serif;
  font-size: 0.8889rem;
  line-height: 1.333rem;
  text-align: center; }
  .row.index-products .container .products-wrapper .product-card .overlay .btn-filled:hover {
    text-decoration: none; }

.row.index-products .container .products-wrapper .product-card .product-header {
  text-align: center;
  font-family: "ProximaNova-Regular", Georgia, sans-serif;
  font-size: 1rem;
  line-height: 1.333rem;
  text-align: left; }

.row.index-products .container .products-wrapper .product-card .product-description {
  text-align: center;
  font-family: "ProximaNova-Light", Georgia, sans-serif;
  font-size: 0.7778rem;
  line-height: 1rem;
  text-align: left; }

.row.index-products .container .products-wrapper .product-card .price {
  text-align: center;
  font-family: "ProximaNova-Regular", Georgia, sans-serif;
  font-size: 0.8889rem;
  line-height: 1.333rem;
  text-align: left; }
  .row.index-products .container .products-wrapper .product-card .price .sale-price {
    text-align: center;
    font-family: "ProximaNova-Regular", Georgia, sans-serif;
    font-size: 1.122rem;
    line-height: 1.333rem;
    text-align: left; }

.row.index-products .container .btn-filled {
  text-align: center;
  font-family: "ProximaNova-Regular", Georgia, sans-serif;
  font-size: 0.8889rem;
  line-height: 1.333rem;
  text-align: center; }

.row.index-review .container .section-header {
  font-family: "ProximaNova-Semibold", Georgia, sans-serif;
  font-size: 2.17rem;
  line-height: 1.333rem; }

.row.index-review .container div .review-item .date {
  font-family: "ProximaNova-Regular", Georgia, sans-serif;
  font-size: 0.8889rem;
  line-height: 1.333rem;
  text-align: left; }

.row.index-review .container div .review-item .comment {
  font-family: "ProximaNova-Regular", Georgia, sans-serif;
  font-size: 0.8889rem;
  line-height: 1.450rem;
  text-align: left; }

.row.index-review .container div .btn-filled {
  font-family: "ProximaNova-Regular", Georgia, sans-serif;
  font-size: 0.8889rem;
  line-height: 1.333rem;
  text-align: center; }

.footer {
  font-family: "ProximaNova-Regular", Georgia, sans-serif;
  font-size: 0.8889rem;
  line-height: 1.666rem; }
  .footer .container .footer-contacts .footer-contacts-list .footer-contacts-item span {
    font-family: "ProximaNova-Regular", Georgia, sans-serif;
    font-size: 0.8889rem;
    line-height: 1.666rem; }
  .footer .container .footer-contacts .footer-contacts-list .footer-contacts-item .address {
    font-family: "ProximaNova-Regular", Georgia, sans-serif;
    font-size: 0.8889rem;
    line-height: 1.666rem; }
  .footer .container .footer-contacts > span.copyright {
    font-family: "ProximaNova-Regular", Georgia, sans-serif;
    font-size: 0.8889rem;
    line-height: 1.666rem; }
  .footer .container .sidebar .recent-posts-list .recent-posts-item .recent-posts-link {
    font-family: "ProximaNova-Regular", Georgia, sans-serif;
    font-size: 0.8889rem;
    line-height: 1.666rem; }

.footer-header {
  text-transform: uppercase;
  font-family: "ProximaNova-Semibold", Georgia, sans-serif;
  font-size: 1.122rem;
  line-height: 1.333rem; }

.row.hero-header .container .page-title {
  font-family: "ProximaNova-Semibold", Georgia, sans-serif;
  font-size: 2.17rem;
  line-height: 1.333rem; }

.row.hero-header .container .page-title-sub {
  font-family: "ProximaNova-Semibold", Georgia, sans-serif;
  font-size: 1.17rem;
  line-height: 1.333rem; }

.row.main-content .container .section-header {
  font-family: "ProximaNova-Semibold", Georgia, sans-serif;
  font-size: 2.17rem;
  line-height: 1.333rem; }

.row.mission .section-header {
  font-family: "ProximaNova-Semibold", Georgia, sans-serif;
  font-size: 2.17rem;
  line-height: 1.333rem; }

.row.mission .text-list {
  list-style-type: none; }
  .row.mission .text-list .text-list-item {
    text-indent: -1.2rem; }
    .row.mission .text-list .text-list-item:before {
      content: '-';
      display: inline-block;
      float: left;
      margin-right: 1rem; }

.row.win-story .container .section-header {
  font-family: "ProximaNova-Semibold", Georgia, sans-serif;
  font-size: 2.17rem;
  line-height: 1.333rem; }

@media screen and (max-width: 1200px) {
  .row.hero-header .container .page-title {
    font-family: "ProximaNova-Semibold", Georgia, sans-serif;
    font-size: 1.222rem;
    line-height: 1.333rem;
    text-transform: uppercase; }
  .row.hero-header .container .page-title-sub {
    font-family: "ProximaNova-Semibold", Georgia, sans-serif;
    font-size: 0.8889rem;
    line-height: 1.333rem; }
  .row.main-content .container .section-header {
    font-family: "ProximaNova-Semibold", Georgia, sans-serif;
    font-size: 1.222rem;
    line-height: 1.333rem; }
  .row.mission .section-header {
    font-family: "ProximaNova-Semibold", Georgia, sans-serif;
    font-size: 1.222rem;
    line-height: 1.333rem; }
  .row.win-story .container .section-header {
    font-family: "ProximaNova-Semibold", Georgia, sans-serif;
    font-size: 1.222rem;
    line-height: 1.333rem; } }

.header .container .navbar {
  background-color: inherit;
  border: 0; }
  .header .container .navbar .navbar-collapse .navbar-left .menu-item .menu-link {
    color: #000; }
  .header .container .navbar .navbar-collapse .navbar-left .menu-item.active {
    background-color: #fff; }
    .header .container .navbar .navbar-collapse .navbar-left .menu-item.active .menu-link {
      color: #009ee0; }
      .header .container .navbar .navbar-collapse .navbar-left .menu-item.active .menu-link:hover {
        background: #fff; }
  .header .container .navbar .navbar-collapse .navbar-right .btn-filled {
    background-color: #009ee0;
    color: #fff; }
  .header .container .navbar .navbar-collapse .navbar-right .navbar-form .input-group .form-control {
    border: 1px solid transparent; }
  .header .container .navbar .navbar-collapse .navbar-right .navbar-form .input-group .input-group-btn .btn-search {
    color: #d9d9d9; }
  .header .container .navbar .navbar-collapse .navbar-right .btn-link {
    color: #009ee0; }

.search-box .searchform {
  border: 5px solid #d9d9d9; }
  .search-box .searchform input#s {
    color: #000; }
  .search-box .searchform .close span {
    background-color: #d9d9d9; }

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background-color: #fff; }

.row.index-slider .container #indexSlider:before {
  display: block;
  content: '';
  background-color: #c0e2f5;
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%; }

.row.index-slider .container #indexSlider .carousel-inner .item {
  background-color: #c0e2f5; }
  .row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption .slide-header {
    text-transform: uppercase;
    text-align: left; }
  .row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption .slide-header-sub {
    text-transform: uppercase;
    text-align: left; }
  .row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption .slide-description {
    text-align: left; }
  .row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption .btn-white {
    background-color: #fff;
    color: #000; }
    .row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption .btn-white span {
      color: #009ee0; }
  .row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption .slide-count {
    background-color: #fff;
    color: #000; }
    .row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption .slide-count span {
      color: #009ee0; }

.row.index-slider .container #indexSlider .carousel-control {
  background: inherit;
  color: #000;
  text-shadow: none;
  box-shadow: none; }

.row.index-about .container div .btn-filled {
  background-color: #009ee0;
  color: #fff; }

.row.index-about .container div:after {
  background-color: #c0e2f5; }

.row.index-program .container .program-block.program-bg .section-description {
  color: #fff; }

.row.index-program .container .program-block .subheader {
  border-bottom: 2px solid #eee; }

.row.index-program .container .program-block .program-thumbnail {
  border: 1px solid #eee; }

.row.index-program .container .program-block .btn-filled {
  background-color: #fff;
  color: #000; }

.row.index-products .container .products-wrapper .product-card .overlay {
  background: rgba(0, 158, 224, 0.5); }
  .row.index-products .container .products-wrapper .product-card .overlay .btn-filled {
    background-color: #fff;
    color: #000; }

.row.index-products .container .products-wrapper .product-card .price .sale-price {
  color: #009ee0; }

.row.index-products .container .btn-filled {
  background-color: #009ee0;
  color: #fff; }

@media screen and (max-width: 1024px) {
  .row.index-products .container .products-wrapper .product-card .thumbnail-wrapper .overlay {
    background: inherit; }
    .row.index-products .container .products-wrapper .product-card .thumbnail-wrapper .overlay .btn-filled {
      background-color: #009ee0;
      color: #fff; }
  .row.index-products .container .products-wrapper .product-card .price .sale-price {
    color: #009ee0; }
  .row.index-products .container .btn-filled {
    background-color: #009ee0;
    color: #fff; } }

.row.index-review .container .section-header {
  border-bottom: 2px solid #eee; }

.row.index-review .container div .review-item {
  border: 2px solid #eee; }
  .row.index-review .container div .review-item .img-wrapper:before {
    background: rgba(0, 158, 224, 0.5); }
  .row.index-review .container div .review-item .rate .glyphicon-star {
    color: #009ee0; }
  .row.index-review .container div .review-item .rate .glyphicon-star.empty {
    color: #d9d9d9; }
  .row.index-review .container div .review-item .meta .username {
    color: #009ee0; }
  .row.index-review .container div .review-item .meta .date {
    color: #8d8d8d; }

.row.index-review .container .btn-filled {
  background-color: #009ee0;
  color: #fff; }

.footer {
  background-color: #6ec8ed;
  color: #fff; }
  .footer .container .sidebar .recent-posts-list .recent-posts-item .recent-posts-link {
    color: #fff; }
    .footer .container .sidebar .recent-posts-list .recent-posts-item .recent-posts-link:hover {
      color: #fff;
      outline: none;
      cursor: pointer; }
    .footer .container .sidebar .recent-posts-list .recent-posts-item .recent-posts-link:visited {
      color: #fff;
      outline: none;
      cursor: pointer; }
    .footer .container .sidebar .recent-posts-list .recent-posts-item .recent-posts-linkfocus {
      color: #fff;
      outline: none;
      cursor: pointer; }
  .footer .container .acne-resources .acne-resources-list .acne-resources-item .acne-resources-link {
    color: #fff; }
    .footer .container .acne-resources .acne-resources-list .acne-resources-item .acne-resources-link:hover {
      color: #fff;
      outline: none;
      cursor: pointer; }
    .footer .container .acne-resources .acne-resources-list .acne-resources-item .acne-resources-link:visited {
      color: #fff;
      outline: none;
      cursor: pointer; }
    .footer .container .acne-resources .acne-resources-list .acne-resources-item .acne-resources-linkfocus {
      color: #fff;
      outline: none;
      cursor: pointer; }

.row.hero-header .container .page-title {
  color: #fff; }

.row.hero-header .container .page-title-sub {
  color: #fff; }

.row.main-content .container .img-wrapper.left-image:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -40px;
  left: -40px;
  z-index: -1;
  background-color: #eee; }

.row.main-content .container .img-wrapper.right-image:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -40px;
  right: -40px;
  z-index: -1;
  background-color: #c0e2f5; }

.row.win-story .container .img-wrapper.right-image:after {
  content: '';
  display: block;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 30%;
  right: -80%;
  z-index: -1;
  background-color: #c0e2f5; }

@media screen and (max-width: 1200px) {
  .row.main-content .container .img-wrapper.left-image:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -40px;
    left: -40px;
    z-index: -1;
    background-color: #eee; }
  .row.main-content .container .img-wrapper.right-image:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 40px;
    right: -40px;
    z-index: -1;
    background-color: #c0e2f5; }
  .row.win-story .container .img-wrapper.right-image:after {
    content: '';
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 30%;
    right: -80%;
    z-index: -1;
    background-color: #c0e2f5; } }

.row.index-program .container div.program-bg {
  background: linear-gradient(rgba(0, 158, 224, 0.5), rgba(0, 158, 224, 0.5)), url(../images/program-bg.png);
  background-size: 220%;
  background-position: right;
  background-repeat: no-repeat; }

.content {
  overflow-x: hidden;
  width: 100%; }

.header .container .navbar {
  height: 80px;
  margin: 0 -15px; }
  .header .container .navbar .navbar-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px; }
    .header .container .navbar .navbar-header .navbar-brand {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
      .header .container .navbar .navbar-header .navbar-brand .brand-logo {
        width: 40px;
        float: left; }
  .header .container .navbar .navbar-collapse .navbar-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px; }
  .header .container .navbar .navbar-collapse .navbar-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px; }
    .header .container .navbar .navbar-collapse .navbar-right .btn-filled {
      display: block;
      padding: 1rem 2rem;
      margin: 0.2rem 0;
      border: 0;
      border-radius: 1.5rem; }
    .header .container .navbar .navbar-collapse .navbar-right .navbar-form .input-group .form-control {
      width: 0px; }

.search-box .searchform {
  height: 30px;
  box-sizing: border-box;
  border-radius: 20px;
  display: inline-block;
  position: relative; }
  .search-box .searchform input#s {
    border: none;
    background: transparent;
    height: 25px;
    width: 0px;
    line-height: 25px;
    vertical-align: top;
    padding: 0px 10px;
    box-shadow: none;
    -webkit-transition: width .5s;
    /* Safari */
    transition: width .5s;
    position: relative;
    z-index: 2; }
    .search-box .searchform input#s:hover {
      outline: none; }
    .search-box .searchform input#s:focus {
      width: 80px;
      outline: none;
      margin-right: 20px; }
      .search-box .searchform input#s:focus + .close span {
        top: 8px;
        right: 5px; }
      .search-box .searchform input#s:focus + .close span.back {
        -webkit-transition: .5s .7s ease-in-out;
        -moz-transition: .5s .7s ease-in-out;
        -o-transition: .5s .7s ease-in-out;
        transition: .5s .7s ease-in-out;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        opacity: 1; }
  .search-box .searchform .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0px;
    right: 0px;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    cursor: pointer;
    z-index: 1; }
    .search-box .searchform .close span {
      width: 15px;
      height: 6px;
      border-radius: 3px;
      display: block;
      position: absolute;
      top: 22px;
      right: -13px;
      background-color: #333;
      opacity: 1;
      -webkit-transition: .2s .5s ease-in-out;
      -moz-transition: .2s .5s ease-in-out;
      -o-transition: .2s .5s ease-in-out;
      transition: .2s .5s ease-in-out;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
      .search-box .searchform .close span.back {
        top: 12px;
        right: 5px;
        opacity: 0; }

@media screen and (max-width: 768px) {
  .header .container .navbar {
    height: auto;
    margin: 0 -15px; }
    .header .container .navbar .navbar-header {
      display: block;
      height: auto; }
      .header .container .navbar .navbar-header .visible-xs.shop-link-xs {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
        height: 50px;
        padding-top: 25px;
        text-align: center; }
      .header .container .navbar .navbar-header .navbar-toggle {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 100;
        background-color: inherit;
        border: 0; }
        .header .container .navbar .navbar-header .navbar-toggle > .menu-icon {
          width: 20px;
          height: 20px; }
          .header .container .navbar .navbar-header .navbar-toggle > .menu-icon > svg {
            transform-origin: 100%;
            width: 40px;
            fill: #fff;
            transition: all 0.3s ease-in-out; }
            .header .container .navbar .navbar-header .navbar-toggle > .menu-icon > svg > .icon-bars__1 {
              transform: rotate(45deg) translate(18px, -19px);
              transition: all 0.3s ease-in-out; }
            .header .container .navbar .navbar-header .navbar-toggle > .menu-icon > svg > .icon-bars__2 {
              display: none;
              transition: all 0.3s ease-in-out; }
            .header .container .navbar .navbar-header .navbar-toggle > .menu-icon > svg > .icon-bars__3 {
              transform: rotate(-45deg) translate(6px, 12px);
              transition: all 0.3s ease-in-out; }
        .header .container .navbar .navbar-header .navbar-toggle.collapsed {
          position: relative;
          display: block;
          float: left;
          margin: 15px 0 15px 15px;
          background-color: inherit;
          border: 0;
          right: auto;
          top: auto; }
          .header .container .navbar .navbar-header .navbar-toggle.collapsed > .menu-icon {
            width: 20px;
            height: 20px; }
            .header .container .navbar .navbar-header .navbar-toggle.collapsed > .menu-icon > svg {
              transform-origin: 100%;
              width: 40px;
              fill: #6ec8ed; }
              .header .container .navbar .navbar-header .navbar-toggle.collapsed > .menu-icon > svg > .icon-bars__1 {
                transform: rotate(0);
                transition: all 0.3s ease-in-out; }
              .header .container .navbar .navbar-header .navbar-toggle.collapsed > .menu-icon > svg > .icon-bars__2 {
                display: block;
                transition: all 0.3s ease-in-out; }
              .header .container .navbar .navbar-header .navbar-toggle.collapsed > .menu-icon > svg > .icon-bars__3 {
                transform: rotate(0);
                transition: all 0.3s ease-in-out; }
      .header .container .navbar .navbar-header .navbar-brand {
        position: relative;
        display: block;
        padding: 0;
        margin-top: 15px;
        line-height: 2rem; }
        .header .container .navbar .navbar-header .navbar-brand .brand-logo {
          width: 40px;
          float: left; }
    .header .container .navbar .navbar-collapse {
      position: absolute;
      top: 0;
      padding-top: 50px;
      left: 15px;
      width: 100%;
      background-color: #6ec8ed;
      z-index: 2; }
      .header .container .navbar .navbar-collapse.collapse.in {
        position: absolute;
        top: 0;
        padding-top: 50px;
        left: 15px;
        width: 100%; }
        .header .container .navbar .navbar-collapse.collapse.in .navbar-left {
          display: block;
          height: auto; }
          .header .container .navbar .navbar-collapse.collapse.in .navbar-left .menu-item {
            text-align: center; }
        .header .container .navbar .navbar-collapse.collapse.in .navbar-right {
          display: block;
          height: auto; }
          .header .container .navbar .navbar-collapse.collapse.in .navbar-right .btn-filled {
            display: block;
            padding: 1rem 2rem;
            margin: 0.2rem 20%;
            border: 0;
            border-radius: 1.5rem; }
          .header .container .navbar .navbar-collapse.collapse.in .navbar-right .navbar-form {
            display: none; }
            .header .container .navbar .navbar-collapse.collapse.in .navbar-right .navbar-form .input-group .form-control {
              width: 0px; }
          .header .container .navbar .navbar-collapse.collapse.in .navbar-right .shop-link {
            display: none; }
          .header .container .navbar .navbar-collapse.collapse.in .navbar-right .visible-xs .address {
            color: #fff;
            font-family: "ProximaNova-Regular", Georgia, sans-serif;
            font-size: 0.8889rem;
            line-height: 1.666rem;
            text-align: center;
            display: block;
            width: 50%;
            margin-left: 25%;
            margin-top: 1rem; }
            .header .container .navbar .navbar-collapse.collapse.in .navbar-right .visible-xs .address:before {
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f3c5";
              color: #009ee0; }
          .header .container .navbar .navbar-collapse.collapse.in .navbar-right .visible-xs .tel {
            color: #fff;
            font-family: "ProximaNova-Regular", Georgia, sans-serif;
            font-size: 0.8889rem;
            line-height: 1.666rem;
            text-align: center;
            display: block;
            width: 50%;
            margin-left: 25%; }
            .header .container .navbar .navbar-collapse.collapse.in .navbar-right .visible-xs .tel:before {
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              content: "\f095";
              color: #009ee0; }
      .header .container .navbar .navbar-collapse .navbar-left {
        display: block;
        height: auto; }
        .header .container .navbar .navbar-collapse .navbar-left .menu-item {
          text-align: center; }
      .header .container .navbar .navbar-collapse .navbar-right {
        display: block;
        height: auto;
        text-align: center; }
        .header .container .navbar .navbar-collapse .navbar-right .btn-filled {
          display: block;
          padding: 1rem 2rem;
          margin: 0.2rem 0;
          border: 0;
          border-radius: 1.5rem; }
        .header .container .navbar .navbar-collapse .navbar-right .navbar-form {
          display: none; }
        .header .container .navbar .navbar-collapse .navbar-right .shop-link {
          display: none; } }

.row.index-slider .container #indexSlider .carousel-inner .item .slide-item-image {
  position: relative;
  float: right; }

.row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption {
  position: absolute;
  left: 0;
  bottom: 100px;
  top: auto;
  text-shadow: none; }
  .row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption .slide-header-sub {
    display: block;
    max-width: 70%; }
  .row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption .slide-description {
    max-width: 70%; }
  .row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption .btn-white {
    display: block;
    width: 300px;
    border-radius: 1.2rem;
    font-family: "ProximaNova-Regular", Georgia, sans-serif;
    font-size: 0.8889rem;
    line-height: 1.666rem; }
    .row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption .btn-white span {
      font-family: sans;
      font-size: 1rem;
      line-height: 1rem; }
  .row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption .slide-count {
    position: absolute;
    right: -25%;
    bottom: -100px;
    width: 25%;
    height: 15%;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

.row.index-slider .container #indexSlider .carousel-control {
  position: absolute;
  left: auto;
  top: auto;
  width: 10%; }
  .row.index-slider .container #indexSlider .carousel-control.left {
    right: 12%;
    bottom: -1%; }
  .row.index-slider .container #indexSlider .carousel-control.right {
    right: -1%;
    bottom: -1%; }

@media screen and (max-width: 1200px) {
  .row.index-slider .container #indexSlider {
    z-index: -1;
    margin-right: -15px; }
    .row.index-slider .container #indexSlider .carousel-inner .item {
      overflow-x: hidden; }
      .row.index-slider .container #indexSlider .carousel-inner .item .slide-item-image {
        height: 600px;
        max-width: 200%;
        margin-right: -60%; }
      .row.index-slider .container #indexSlider .carousel-inner .item .container {
        position: relative; }
        .row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption {
          position: absolute;
          left: 0;
          bottom: auto;
          top: 200px;
          text-shadow: none;
          width: 100%; }
          .row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption .slide-header {
            max-width: 100%;
            font-size: 22px; }
          .row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption .slide-header-sub {
            display: none; }
          .row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption .slide-description {
            max-width: 100%;
            font-size: 16px; }
          .row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption .btn-white {
            display: block;
            width: 300px;
            max-width: 100%;
            border-radius: 1.2rem; }
          .row.index-slider .container #indexSlider .carousel-inner .item .container .carousel-caption .slide-count {
            display: none; }
    .row.index-slider .container #indexSlider .carousel-control {
      display: none; } }

.row.index-about {
  margin: 100px 0; }
  .row.index-about .container div .section-header {
    margin-bottom: 2rem; }
  .row.index-about .container div .img-wrapper {
    position: absolute;
    top: 30px;
    right: -60%;
    width: 300px;
    height: 300px;
    overflow: hidden; }
    .row.index-about .container div .img-wrapper .index-about--thumbnail {
      width: 200%;
      height: auto;
      margin-left: -30%;
      margin-top: -20%; }
  .row.index-about .container div .btn-filled {
    display: block;
    padding: 1rem 2rem;
    margin: 2rem 0;
    border: 0;
    border-radius: 1.5rem;
    width: 350px; }
  .row.index-about .container div:after {
    display: block;
    content: '';
    width: 100%;
    height: 50%;
    position: absolute;
    right: -140%;
    bottom: 5%;
    z-index: -1; }

@media screen and (max-width: 1200px) {
  .row.index-about {
    margin: 100px 0; }
    .row.index-about .container div .section-header {
      margin-bottom: 2rem; }
    .row.index-about .container div .img-wrapper {
      position: relative;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      margin-bottom: 100px; }
      .row.index-about .container div .img-wrapper .index-about--thumbnail {
        width: 200%;
        height: auto;
        margin-left: -30%;
        margin-top: -20%; }
    .row.index-about .container div .btn-filled {
      display: block;
      padding: 1rem 2rem;
      margin: 2rem 0;
      border: 0;
      border-radius: 1.5rem;
      width: 350px;
      max-width: 50%; }
    .row.index-about .container div:after {
      display: block;
      content: '';
      width: 100%;
      height: 350px;
      position: absolute;
      right: -30%;
      bottom: auto;
      top: 15%;
      z-index: -1; } }

.row.index-program {
  padding-bottom: 100px; }
  .row.index-program .container .section-header {
    padding-bottom: 50px; }
  .row.index-program .container .program-block {
    overflow-x: hidden;
    padding: 0; }
    .row.index-program .container .program-block.program-bg {
      height: 560px; }
    .row.index-program .container .program-block .section-description {
      padding: 15px 30px; }
    .row.index-program .container .program-block .subheader {
      padding: 30px;
      margin: 0; }
    .row.index-program .container .program-block .program-thumbnail {
      position: relative;
      width: auto;
      height: 280px; }
    .row.index-program .container .program-block .btn-filled {
      display: block;
      padding: 1rem 2rem;
      margin: 2rem auto;
      border: 0;
      border-radius: 1.5rem;
      width: 250px; }

@media screen and (max-width: 1024px) {
  .row.index-program {
    padding-bottom: 100px; }
    .row.index-program .container .section-header {
      padding-bottom: 50px; }
    .row.index-program .container .program-block {
      overflow-x: hidden;
      padding: 0; }
      .row.index-program .container .program-block.program-bg {
        height: 560px;
        background: linear-gradient(rgba(0, 158, 224, 0.5), rgba(0, 158, 224, 0.5)), url(../images/program-bg.png);
        background-size: 250%;
        background-position: right -50px top;
        background-repeat: no-repeat; }
      .row.index-program .container .program-block .section-description {
        padding: 15px 30px; }
      .row.index-program .container .program-block .subheader {
        margin: 30px;
        padding: 15px 0;
        width: 60%; }
      .row.index-program .container .program-block .program-thumbnail {
        position: relative;
        width: 100%;
        height: auto; }
      .row.index-program .container .program-block .btn-filled {
        display: block;
        padding: 1rem 2rem;
        margin: 2rem auto;
        border: 0;
        border-radius: 1.5rem;
        width: 250px; }
      .row.index-program .container .program-block:nth-child(4) {
        margin: 0 -15px;
        overflow: visible; }
        .row.index-program .container .program-block:nth-child(4) .program-thumbnail {
          width: 110%; }
      .row.index-program .container .program-block:nth-child(5) {
        display: none; }
      .row.index-program .container .program-block:last-child {
        display: none; } }

.row.index-products .container .section-header {
  margin-bottom: 50px; }

.row.index-products .container .products-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start; }
  .row.index-products .container .products-wrapper .product-card {
    position: relative;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .row.index-products .container .products-wrapper .product-card .thumbnail-wrapper .product-thumbnail {
      position: relative;
      max-width: 100%;
      height: 350px; }
    .row.index-products .container .products-wrapper .product-card .thumbnail-wrapper .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 0;
      opacity: 0;
      z-index: 2;
      transition: all 0.3s ease-in-out; }
      .row.index-products .container .products-wrapper .product-card .thumbnail-wrapper .overlay .btn-filled {
        display: block;
        padding: 1rem 2rem;
        margin: 4rem auto;
        border: 0;
        border-radius: 1.5rem;
        width: 200px; }
    .row.index-products .container .products-wrapper .product-card:hover .overlay {
      opacity: 1;
      height: 350px;
      transition: all 0.3s ease-in-out; }
    .row.index-products .container .products-wrapper .product-card .product-header {
      position: relative;
      width: 100%;
      padding: 0 15px; }
    .row.index-products .container .products-wrapper .product-card .product-description {
      position: relative;
      padding: 0 15px; }
    .row.index-products .container .products-wrapper .product-card .price {
      align-self: flex-start;
      padding: 0 15px; }
      .row.index-products .container .products-wrapper .product-card .price .sale-price {
        padding: 15px; }

.row.index-products .container .btn-filled {
  display: block;
  padding: 1rem 2rem;
  margin: 2rem auto;
  border: 0;
  border-radius: 1.5rem;
  width: 250px; }

@media screen and (max-width: 1024px) {
  .row.index-products .container .products-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    .row.index-products .container .products-wrapper .product-card {
      position: relative;
      width: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .row.index-products .container .products-wrapper .product-card .thumbnail-wrapper .product-thumbnail {
        position: relative;
        max-width: 100%;
        height: 350px; }
      .row.index-products .container .products-wrapper .product-card .thumbnail-wrapper .overlay {
        position: absolute;
        top: auto;
        left: auto;
        right: 20px;
        bottom: 0.5rem;
        width: 50%;
        height: 3rem;
        opacity: 1;
        z-index: 2;
        transition: all 0.3s ease-in-out; }
        .row.index-products .container .products-wrapper .product-card .thumbnail-wrapper .overlay .btn-filled {
          display: block;
          padding: 1rem 2rem;
          margin: auto;
          border: 0;
          border-radius: 1.5rem;
          width: 200px; }
      .row.index-products .container .products-wrapper .product-card:hover .overlay {
        opacity: 1;
        height: 3rem;
        transition: all 0.3s ease-in-out; }
      .row.index-products .container .products-wrapper .product-card .product-header {
        position: relative;
        width: 100%;
        padding: 0 15px; }
      .row.index-products .container .products-wrapper .product-card .product-description {
        position: relative;
        padding: 0 15px; }
      .row.index-products .container .products-wrapper .product-card .price {
        align-self: flex-start;
        padding: 0 15px;
        margin: 30px 0; }
        .row.index-products .container .products-wrapper .product-card .price .sale-price {
          padding: 15px; }
  .row.index-products .container .btn-filled {
    display: block;
    padding: 1rem 2rem;
    margin: 2rem;
    border: 0;
    border-radius: 1.5rem;
    width: 250px; } }

.row.index-review .container .section-header {
  padding-bottom: 20px;
  width: 280px; }

.row.index-review .container > div {
  margin-top: 115px; }
  .row.index-review .container > div .review-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px 30px 30px 30px; }
    .row.index-review .container > div .review-item:hover .img-wrapper:before {
      opacity: 1;
      transition: all 0.3s ease-in-out; }
    .row.index-review .container > div .review-item .img-wrapper {
      position: absolute;
      top: -75px;
      display: block;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden; }
      .row.index-review .container > div .review-item .img-wrapper .avatar {
        display: block;
        margin-left: -40%;
        height: 150px; }
      .row.index-review .container > div .review-item .img-wrapper:before {
        content: '';
        width: 150px;
        height: 150px;
        z-index: 2;
        position: absolute;
        top: 0;
        bottom: 0;
        border-radius: 50%;
        opacity: 0;
        transition: all 0.3s ease-in-out; }
    .row.index-review .container > div .review-item .rate {
      align-self: flex-start; }
    .row.index-review .container > div .review-item .meta {
      align-self: flex-start; }
      .row.index-review .container > div .review-item .meta .username {
        display: block;
        width: auto;
        float: left; }
      .row.index-review .container > div .review-item .meta .date {
        display: inline;
        float: left;
        margin: 1.4rem 1.2rem; }

.row.index-review .container > div.btn-wrapper {
  position: relative;
  padding: 2rem 50%; }
  .row.index-review .container > div.btn-wrapper .btn-filled {
    position: relative;
    display: block;
    padding: 1rem 2rem;
    margin: 0 0 0 -125px;
    border: 0;
    border-radius: 1.5rem;
    width: 250px; }

.footer .container {
  position: relative; }
  .footer .container #scrollTop {
    display: none; }
    .footer .container #scrollTop span {
      display: none; }
  .footer .container .footer-contacts .footer-contacts-list {
    padding: 0;
    list-style-type: none; }
    .footer .container .footer-contacts .footer-contacts-list .footer-contacts-item .address {
      margin: 0; }
  .footer .container .footer-contacts > span.copyright {
    display: block;
    margin-top: 3rem; }
  .footer .container .sidebar {
    width: 300px;
    padding: 0;
    margin: 0 -15px; }
    .footer .container .sidebar .recent-posts-list {
      padding: 0;
      list-style-type: none; }
  .footer .container .acne-resources .acne-resources-list {
    padding: 0;
    list-style-type: none; }

@media screen and (max-width: 1200px) {
  .footer .container {
    position: relative; }
    .footer .container #scrollTop {
      position: absolute;
      top: -1rem;
      right: 30px; }
      .footer .container #scrollTop span {
        display: block;
        padding: 0.5rem;
        border-radius: 50%;
        background-color: #eee; }
    .footer .container .footer-contacts .footer-contacts-list {
      padding: 0;
      list-style-type: none; }
      .footer .container .footer-contacts .footer-contacts-list .footer-contacts-item .address {
        margin: 0; }
    .footer .container .footer-contacts > span.copyright {
      display: block;
      margin-top: 3rem; }
    .footer .container .sidebar {
      width: 300px;
      padding: 0;
      margin: 0 -15px; }
      .footer .container .sidebar .recent-posts-list {
        padding: 0;
        list-style-type: none; }
    .footer .container .acne-resources .acne-resources-list {
      padding: 0;
      list-style-type: none; } }

.row.hero-header {
  margin-bottom: 80px;
  position: relative; }
  .row.hero-header .container {
    position: relative;
    height: 500px;
    padding-top: 10%; }
    .row.hero-header .container .hero-bg {
      position: absolute;
      display: block;
      right: 0;
      top: 0;
      z-index: -1;
      height: 500px; }
    .row.hero-header .container .page-title {
      border-top: 2px solid #eee;
      width: 110px;
      padding-top: 22px;
      padding-bottom: 10px; }
    .row.hero-header .container .page-title-sub {
      display: block; }

.row.main-content {
  position: relative;
  margin-bottom: 80px; }
  .row.main-content .container {
    position: relative; }
    .row.main-content .container .section-header {
      margin-left: 15px;
      margin-bottom: 2rem; }
      .row.main-content .container .section-header span {
        position: relative;
        display: block;
        margin-top: 20px; }
    .row.main-content .container .img-wrapper.left-image {
      position: absolute;
      top: 50px;
      left: 0; }
    .row.main-content .container .img-wrapper.right-image {
      position: absolute;
      top: 100px;
      right: 0; }

.row.mission {
  position: relative;
  margin-bottom: 80px; }
  .row.mission .section-header {
    margin-left: 15px;
    margin-bottom: 2rem; }

.row.win-story {
  position: relative;
  margin-bottom: 80px; }
  .row.win-story .container {
    position: relative; }
    .row.win-story .container .section-header {
      margin-left: 15px;
      margin-bottom: 2rem; }
    .row.win-story .container .img-wrapper.right-image {
      position: absolute;
      top: 0;
      right: 150px; }

@media screen and (max-width: 1200px) {
  .row.hero-header {
    margin-bottom: 30px;
    position: relative; }
    .row.hero-header .container {
      position: relative;
      height: 500px;
      padding-top: 30%; }
      .row.hero-header .container .hero-bg {
        position: absolute;
        display: block;
        right: -100%;
        top: 0;
        z-index: -1;
        height: 500px; }
      .row.hero-header .container .page-title {
        border-top: 2px solid #eee;
        width: 75px;
        padding-top: 16px;
        padding-bottom: 10px;
        z-index: 1; }
      .row.hero-header .container .page-title-sub {
        display: block;
        z-index: 1; }
  .row.main-content {
    position: relative;
    margin-bottom: 30px; }
    .row.main-content .container {
      position: relative; }
      .row.main-content .container .section-header {
        margin-left: 15px;
        margin-bottom: 2rem; }
        .row.main-content .container .section-header span {
          position: relative;
          display: block;
          margin-top: 20px; }
      .row.main-content .container .img-wrapper.left-image {
        position: relative;
        top: 0;
        left: 45px;
        margin-top: 50px; }
        .row.main-content .container .img-wrapper.left-image .page-thumbnail {
          max-width: 200%; }
      .row.main-content .container .img-wrapper.right-image {
        position: relative;
        top: 0;
        right: 0;
        margin-bottom: 50px; }
        .row.main-content .container .img-wrapper.right-image .page-thumbnail {
          max-width: 100%; }
  .row.mission {
    position: relative;
    margin-bottom: 30px; }
    .row.mission .section-header {
      margin-left: 15px;
      margin-bottom: 2rem; }
  .row.win-story {
    position: relative;
    margin-bottom: 30px; }
    .row.win-story .container {
      position: relative; }
      .row.win-story .container .section-header {
        margin-left: 15px;
        margin-bottom: 2rem; }
      .row.win-story .container .img-wrapper.right-image {
        position: relative;
        top: 0;
        right: 0; } }
